<section class="settings">

  <!-- actual settings -->
  <ng-container *ngFor="let subsys of subsystems; trackBy: statusService.trackSubsystem">
    <h2 [attr.id]="subsys.ConfigKeySpace" #navLink>
      {{subsys.Name}}
    </h2>
    <app-generic-setting *ngFor="let setting of settings[subsys.ConfigKeySpace]; trackBy: configService.trackBy"
      [setting]="setting"></app-generic-setting>
  </ng-container>

  <ng-container *ngIf="!!settings['other']">
    <h2 id="config:other" #navLink>
      Other
    </h2>
    <app-generic-setting *ngFor="let setting of settings['other']; trackBy: configService.trackBy" [setting]="setting">
    </app-generic-setting>
  </ng-container>

</section>

<!-- navigation for the settings -->
<div class="settings-nav" [class.show]="shouldShowSettingsNav">
  <ul>
    <li *ngFor="let subsys of subsystems; trackBy: statusService.trackSubsystem"
      [class.active]="activeSection === subsys.ConfigKeySpace" (click)="scrollTo(subsys.ConfigKeySpace)">
      {{subsys.Name}}
    </li>
    <li *ngIf="!!settings['other']" (click)="scrollTo('config:other')"
      [class.active]="activeSection === 'config:other'">
      Other
    </li>
  </ul>
</div>
