.card-title.meta {
  div {
    display: inline-block;
    @apply mr-2;
  }
}

.columns {
  width         : 100%;
  display       : flex;
  flex-direction: row;
}

.meta {

  span:first-of-type {
    @apply text-secondary;
    @apply mr-1;
  }
}

.col {
  flex-grow: 1;
}

app-accordion-group {
  @apply px-12;
  @apply my-4;
}

div.tableFixHead {
  @apply mt-4;
  @apply rounded-t;

  &:not(.empty) {
    @apply rounded;
  }

  max-height: 16rem;
}

.cdk-row.unused {
  opacity: 0.4;
}

.card-actions {
  * {
    @apply ml-2;
  }

  app-menu-trigger {
    display: inline-block;
  }
}
