<div class="header">
  <input type="text" placeholder="Search" [(ngModel)]="searchTerm">
  <app-expertise></app-expertise>
</div>

<div class="header">
  <h1>Settings</h1>
</div>

<ng-template #accordionHeader let-active="active">
  <div class="card-header">
    <fa-icon icon="chevron-down" class="chevron card-icon"></fa-icon>
    <span class="card-title meta">
      <div>
        <span></span>
        <span>{{ versions?.Core?.Name }} </span>
      </div>
      <div>
        <span>Version:</span>
        <span>{{ versions?.Core?.Version }} </span>
      </div>
      <div>
        <span>License:</span>
        <span>{{ versions?.Core?.License }} </span>
      </div>
    </span>
    <span class="unstable" *ngIf="versions?.Staging">STAGING</span>
    <span class="unstable" *ngIf="versions?.Beta">BETA</span>
    <span class="card-actions">

      <button (click)="restart($event)">Restart</button>
      <button (click)="copyDebugInfo($event)" [disabled]="debugInfoCopied">
        {{ debugInfoCopied ? 'Copied to clipboard' : 'Copy Debug Information'}}
      </button>
      <app-menu-trigger [menu]="actions"></app-menu-trigger>
      <app-menu #actions>
        <app-menu-item (click)="downloadUpdates($event)">Download Updates</app-menu-item>
        <app-menu-item (click)="shutdown($event)">Stop Portmaster</app-menu-item>
        <app-menu-item (click)="reloadUI($event)">Reload UI</app-menu-item>
        <app-menu-item (click)="clearDNSCache($event)">Clear DNS Cache</app-menu-item>
        <app-menu-item (click)="openDataDir($event)">Open Data Directory</app-menu-item>
      </app-menu>
    </span>
  </div>
</ng-template>

<app-accordion-group [headerTemplate]="accordionHeader">
  <app-accordion [data]="versions">
    <div class="card-content">
      <div class="meta columns">
        <div class="col">
          <div>
            <span>Build Date:</span>
            <span>{{ versions?.Core?.BuildDate || 'N/A' }}</span>
          </div>
          <div>
            <span>Build Host:</span>
            <span>{{ versions?.Core?.BuildHost || 'N/A' }}</span>
          </div>
          <div>
            <span>Build Source:</span>
            <span>{{ versions?.Core?.BuildSource || 'N/A' }}</span>
          </div>
          <div>
            <span>Commit:</span>
            <span>{{versions?.Core?.Commit || 'N/A' }}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <span>Build User:</span>
            <span>{{ versions?.Core?.BuildUser || 'N/A' }}</span>
          </div>
          <div>
            <span>Build Options:</span>
            <span>{{ versions?.Core?.BuildOptions || 'N/A' }}</span>
          </div>
        </div>
      </div>

      <div class="tableFixHead">
        <table cdk-table [dataSource]="(versions?.Resources || {}) | keyvalue">
          <ng-container cdkColumnDef="identifier">
            <th cdk-header-cell *cdkHeaderCellDef>Identifier</th>
            <td cdk-cell *cdkCellDef="let item">
              {{ item.value.Identifier }}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="channel">
            <th cdk-header-cell *cdkHeaderCellDef>Channel</th>
            <td cdk-cell *cdkCellDef="let item">
              {{ !item.value.SelectedVersion ? 'N/A' : item.value.SelectedVersion.StableRelease ? 'Stable' :
              item.value.SelectedVersion.BetaRelease ? 'Beta' : 'N/A' }}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="active">
            <th cdk-header-cell *cdkHeaderCellDef>Active Version</th>
            <td cdk-cell *cdkCellDef="let item">
              {{ item.value.ActiveVersion?.VersionNumber || 'N/A' }}
            </td>
          </ng-container>

          <ng-container cdkColumnDef="selected">
            <th cdk-header-cell *cdkHeaderCellDef>Selected Version</th>
            <td cdk-cell *cdkCellDef="let item">
              {{ item.value.SelectedVersion?.VersionNumber || 'N/A' }}
            </td>
          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="['identifier', 'channel', 'active', 'selected']"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: ['identifier', 'channel', 'active', 'selected']"
            [class.unused]="!row.value.ActiveVersion"></tr>
        </table>
      </div>
    </div>

  </app-accordion>
</app-accordion-group>

<app-settings-view [searchTerm]="searchTerm" [availableSettings]="settings" (onSave)="saveSetting($event)">
</app-settings-view>
