:host {
  display    : flex;
  white-space: normal;
  height     : 100%;
}

.settings {
  display       : flex;
  align-items   : flex-start;
  flex-direction: column;
  flex-grow     : 1;
  overflow      : auto;
  @apply pr-4;

  app-generic-setting {
    width: 100%;
  }

  h2 {
    @apply p-2;
    @apply ml-2;
    @apply font-bold;
    @apply text-xl;
    @apply text-white;
  }
}

div.settings-nav {
  position   : sticky;
  top        : 2rem;
  width      : 150px;
  flex-shrink: 0;
  overflow   : hidden;
  @apply p-2;
  transition: height cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
  @apply text-sm;

  ul {
    transform : translateY(200%);
    transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) .3s;

    li {
      @apply mb-1;
      @apply font-semibold;
      @apply text-gray-300;

      &:hover,
      &.active {
        @apply text-gray-200;
      }

      ul.settings {
        display: none;
      }
    }
  }


  &.show {
    ul {
      transform: translateY(0%);
    }
  }
}
