:host {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: flex-start;
  @apply p-6;
  overflow  : hidden;
  overflow-y: auto;
}

.widget-list {
  width: 100%;

  &>* {
    @apply mb-3;
  }
}

// TODO(ppacher) move to mixin or so
.widget-list.cdk-drop-list-dragging .widget:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.widget {
  position: relative;
  width   : 100%;
  @apply pb-1;

  &:hover {
    .buttons fa-icon {
      opacity: 1 !important; // TODO(ppacher): make a more detailed selector
    }
  }

  .buttons {
    position: absolute;
    left    : -1rem;
    top     : 0px;

    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    .dragable{
      padding-bottom: 0.5rem;
      margin-left: 1px;

      svg{
        fill: var(--text-secondary);
        width: 0.46rem;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
    
        &:hover,
        &:active {
          fill: var(--text-primary);
        }
      }
    }

    /* TODO(LukeSeers): Remove these(fa-icon) once all old icons are removed. */

    fa-icon {
      cursor   : pointer;
      font-size: 0.6rem;
      @apply text-secondary;
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;

      &[icon="grip-vertical"] {
        font-size: 0.85rem;
      }

      &.edit-icon {
        opacity: 0;
      }

      &:hover,
      &:active {
        opacity: 1;
        @apply text-primary;
      }
    }
  }
}

.cdk-drag-preview {
  .buttons {
    fa-icon {
      opacity: 1;
      @apply text-primary;
    }
  }
}

.new-widget {
  position: relative;
  cursor  : pointer;
  width   : 100%;
  height  : 4rem;
  outline : none;
  @apply rounded;
  @apply border-2;
  @apply border-dashed;
  @apply border-buttons-dark;
  @apply text-tertiary;

  span,
  fa-icon {
    margin: -2px;
  }

  fa-icon {
    font-size: 1rem;
  }

  &:hover {
    @apply text-secondary;
    @apply bg-cards-secondary;
    @apply border-buttons-light;
  }

  display        : flex;
  align-items    : center;
  flex-direction : column;
  justify-content: center;
}

.cdk-drag-placeholder {
  padding: 0;
}
