<div class="dash">
  <div class="content">
    <h1>Portmaster is <b>awesome</b></h1>
  </div>
  <div class="circle">
    <fa-icon icon="cog"></fa-icon>
  </div>
</div>

<div class="widget-list" cdkDropList cdkDragLockAxis="y" (cdkDropListDropped)="drop($event)">
  <div class="widget" *ngFor="let widget of widgets; trackBy: widgetService.trackBy" cdkDrag>
    <ng-container [cdkPortalOutlet]="widget.portal"></ng-container>

    <div class="buttons">
      <fa-icon icon="question-circle"></fa-icon>
      <fa-icon icon="grip-vertical" cdkDragHandle></fa-icon>
      <fa-icon icon="pen" routerLink="/widget/edit/{{widget.key}}"></fa-icon>
    </div>
  </div>
</div>

<div class="new-widget widget" routerLink="/widget/new">
  <fa-icon icon="plus-circle" [inverse]="false"></fa-icon>
  <span>Add widget</span>

  <div class="buttons">
    <fa-icon icon="question-circle"></fa-icon>
  </div>
</div>
