<div class="dash">
  <div class="content">
    <h1>Portmaster is <b>awesome</b></h1>
  </div>
  <div class="circle">
    <fa-icon icon="cog"></fa-icon>
  </div>
</div>

<ng-container *ngFor="let widget of widgets; trackBy: widgetService.trackBy">
  <div class="widget" routerLink="/widget/edit/{{widget.key}}">
    <ng-container [cdkPortalOutlet]="widget.portal"></ng-container>
  </div>
</ng-container>

<div class="new-widget" routerLink="/widget/new">
  <fa-icon icon="plus-circle" [inverse]="false"></fa-icon>
  <span>Add widget</span>
</div>
