:host {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: flex-start;
  @apply p-5;
}

.dash {
  overflow: visible;
  position: relative;
  width   : 100%;

  .content {
    min-height     : calc(3 * 4.5rem);
    display        : flex;
    align-items    : center;
    justify-content: space-around;

    @apply p-5;
    padding-bottom: calc(4.5rem / 2);

    h1 {
      @apply text-xl;
      text-align: center;
    }

    @apply rounded-md;
    @apply bg-gray-600;
  }

  margin-bottom : calc(4.5rem / 2);

  .circle {
    cursor         : pointer;
    position       : absolute;
    bottom         : calc(-4.5rem / 2);
    left           : calc(50% - 4.5rem / 2);
    height         : 4.5rem;
    width          : 4.5rem;
    border-radius  : 50%;
    display        : flex;
    align-items    : center;
    justify-content: space-around;

    margin: {
      left : auto;
      right: auto;
    }

    @apply border-8;
    @apply border-gray-900;
    @apply bg-gray-600;

    &:hover {
      @apply bg-blue-500;
    }
  }
}


.widget-list {
  width: 100%;
}

.cdk-drag-placeholder {
  opacity   : 0.5;
  box-sizing: border-box;
  @apply border-2;
  @apply border-dashed;
  @apply border-blue-500;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.widget-list.cdk-drop-list-dragging .widget:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.widget {
  @apply rounded-md;
  @apply bg-gray-600;
  @apply p-3;
  position       : relative;
  width          : 100%;
  min-height     : 4rem;
  display        : flex;
  justify-content: center;
  align-items    : center;
  @apply text-xs;
  @apply mb-2;

  outline: none;

  &:hover {
    .buttons fa-icon {
      opacity: 1;
    }
  }

  .buttons {
    position: absolute;
    right   : -1rem;
    top     : 0px;

    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    fa-icon {
      cursor   : pointer;
      font-size: 0.6rem;
      @apply text-gray-300;
      opacity   : 0;
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;

      &[icon="grip-vertical"] {
        font-size: 0.85rem;
      }

      &:first-of-type {
        opacity: 1;
      }

      &:hover,
      &:active {
        opacity: 1;
        @apply text-gray-100;
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing   : border-box;
  border-radius: 4px;
  @apply border-2;
  @apply border-dashed;
  @apply border-blue-500;

  @apply text-gray-100;

  .buttons {
    fa-icon {
      opacity: 1;
      @apply text-gray-100;
    }
  }
}

.new-widget {
  position: relative;
  cursor  : pointer;
  width   : 100%;
  @apply rounded-md;
  @apply border-2;
  @apply border-dashed;
  @apply border-gray-500;
  @apply bg-gray-800;
  @apply p-4;

  @apply text-gray-400;
  @apply text-xs;

  span,
  fa-icon {
    margin: -2px;
  }

  &:hover {
    @apply text-gray-200;
  }

  display        : flex;
  align-items    : center;
  flex-direction : column;
  justify-content: center;
}
