<div class="widget-list" cdkDropList cdkDragLockAxis="y" (cdkDropListDropped)="drop($event)">
  <div class="widget" *ngFor="let widget of widgets; trackBy: widgetService.trackBy" cdkDrag>
    <div class="buttons">
      <div class="dragable" cdkDragHandle>
        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 2" viewBox="0 0 11.86 19.86">
          <circle cx="1.93" cy="1.93" r="1.93" />
          <circle cx="9.93" cy="1.93" r="1.93" />
          <circle cx="1.93" cy="9.93" r="1.93" />
          <circle cx="9.93" cy="9.93" r="1.93" />
          <circle cx="1.93" cy="17.93" r="1.93" />
          <circle cx="9.93" cy="17.93" r="1.93" />
        </svg>
      </div>
      <fa-icon class="edit-icon" *ngIf="!!widget.definition.settingsComponent || expertise === 'developer'" icon="pen"
        routerLink="/widget/edit/{{widget.key}}">
      </fa-icon>
    </div>
    <ng-container [cdkPortalOutlet]="widget.portal"></ng-container>
  </div>
</div>

<div class="new-widget widget no-wd" *appExpertiseLevel="'developer'" routerLink="/widget/new">
  <fa-icon icon="plus-circle" [inverse]="false"></fa-icon>
  <span class="secondary-text">Add widget</span>

  <div class="buttons">
    <fa-icon icon="question-circle"></fa-icon>
  </div>
</div>
