<div class="header">
    <span>Debug Panel</span>
    <a (click)="toggle()" href="#">X</a>
</div>
<app-accordion-group>
    <app-accordion title="Create Notification">
        <app-notication-factory></app-notication-factory>
    </app-accordion>

    <app-accordion title="PortAPI Inspector">
        <app-portapi-inspector></app-portapi-inspector>
    </app-accordion>

    <app-accordion title="About Debug Panel">
        <div class="p-4 px-8 text-center">
            Because <b>✰Portmaster✰</b> is <b>Awesome❗</b> 
        </div>
    </app-accordion>
</app-accordion-group>
