:host {
  overflow-x    : hidden;
  display       : flex;
  flex-direction: column;
}

div.header {
  display        : flex;
  justify-content: space-between;
  width          : 100%;

  @apply text-primary;
  @apply p-4;
}
