<app-security-lock></app-security-lock>

<div sfngTipUpAnchor class="level-list" [class.auto-pilot]="mode === 'auto'" *ngIf="networkRatingEnabled$ | async">
  <div class="rate-header">
    <label style="white-space: nowrap; margin-right: 5px; opacity: 0.9; display: flex; width: 100%;">
      Network Rating
      <sfng-tipup style="margin-left: 0.5rem; align-items: center;display: flex;" key="pilot-widget-NetworkRating">
      </sfng-tipup>
    </label>
    <sfng-select *appExpertiseLevel="'developer'" [ngModel]="mode" (ngModelChange)="updateMode($event)">
      <sfng-select-item *sfngSelectValue="'auto'">
        <span class="auto-detect low"></span>
        <span>Auto Detect</span>
      </sfng-select-item>
      <sfng-select-item *sfngSelectValue="'manual'">
        <span class="off"></span>
        <span>Manual</span>
      </sfng-select-item>
    </sfng-select>
  </div>

  <ng-container *ngFor="let opt of options">
    <div sfngTipUpAnchor class="level" [class.selected]="activeLevel === opt.level"
      [class.suggested]="suggestedLevel === opt.level && suggestedLevel > activeLevel" (click)="selectLevel(opt.level)">
      <div style="display: flex;align-items: center;">
        <span>
          {{opt.displayText}}
        </span>
        <span class="situation">
          {{opt.subText || ''}}
        </span>
        <sfng-tipup style="margin-left: auto;" [key]="'pilot-widget-NetworkRating-' + opt.displayText"></sfng-tipup>
      </div>
    </div>
  </ng-container>
</div>
