:host {
  outline: none;
}

.item,
.cdk-drag-preview {
  display    : flex;
  align-items: center;

  padding: 3px;

  fa-icon {
    cursor: pointer;
    @apply text-gray-400;
    @apply text-lg;
    @apply mr-2;
  }

  app-filter-list-item {
    flex-grow: 1;
  }
}


.cdk-drag-placeholder {
  position    : relative;
  opacity     : 0.5;
  box-sizing  : border-box;
  left        : -4px;
  padding     : 1px;
  padding-left: 4px;
  @apply border-2;
  @apply rounded;
  @apply border-dashed;
  @apply border-blue-500;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-items.cdk-drop-list-dragging .list:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing  : border-box;
  left        : -4px;
  padding     : 1px;
  padding-left: 4px;

  @apply rounded;
  @apply border-2;
  @apply border-dashed;
  @apply border-blue-500;

  @apply text-gray-100;
}

.button-list {
  @apply mt-2;
}

.new-entry {
  position: relative;
  cursor  : pointer;
  width   : 100%;
  @apply rounded-sm;
  @apply p-1;
  @apply border-2;
  @apply border-dashed;
  @apply border-gray-500;
  @apply bg-gray-800;

  @apply text-gray-200;
  --text-opacity: 0.5;
  @apply text-xs;

  span {
    @apply ml-2;
    @apply font-medium;

  }

  fa-icon {
    font-size: 1rem;
  }

  &:hover {
    @apply text-gray-200;
    @apply border-gray-300;

    span {
      @apply text-gray-200;
    }
  }

  display        : flex;
  align-items    : center;
  justify-content: center;
}
