<div class="action" [class.allow]="isAllow" [class.block]="isBlock" [class.edit]="_edit">
  <ng-container *ngIf="!_edit; else: selectAction">
    <span *ngIf="isAllow">Allow</span>
    <span *ngIf="isBlock">Block</span>
  </ng-container>

  <ng-template #selectAction>
    <app-dropdown [ngModel]="currentAction" (ngModelChange)="setAction($event)">
      <app-dropdown-item *dropDownValue="'+'">Allow</app-dropdown-item>
      <app-dropdown-item *dropDownValue="'-'">Block</app-dropdown-item>
    </app-dropdown>
  </ng-template>
</div>
<div class="value" [class.edit]="_edit">
  <ng-container *ngIf="!_edit; else: editValue">
    {{ display }}
  </ng-container>

  <ng-template #editValue>
    <input type="text" autofocus [ngModel]="display" (ngModelChange)="setEntity($event)">
  </ng-template>

  <div class="buttons" *ngIf="!readonly">
    <fa-icon [icon]="_edit ? 'check' : 'edit'" (click)="toggleEdit()"></fa-icon>
    <fa-icon icon="times" (click)="reset()"></fa-icon>
  </div>

</div>