/** Add tailwind base styles **/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@angular/cdk/overlay-prebuilt';

html {
  scroll-behavior: smooth;
  user-select    : none;
}

::-webkit-scrollbar {
  @apply bg-gray-700;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  @apply rounded;
  cursor: pointer;
}

input:not([type="checkbox"]),
textarea,
select {
  display: block;
  width  : 100%;
  outline: none;
  @apply shadow-inner-xs;
  @apply bg-gray-700;
  @apply text-gray-200;
  @apply border-gray-800;
  @apply border;
  transition: border cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
  @apply p-1;
  @apply px-2;
  @apply rounded;
  @apply text-xs;

  &:active,
  &:focus {
    @apply text-gray-100;
    @apply border-gray-400;
  }

}

button {
  @apply text-xs;
  @apply bg-blue-500;
  @apply p-1;
  @apply px-4;
  @apply ml-2;
  @apply uppercase;
  @apply rounded;
}

.ng-invalid {

  input,
  textarea,
  select {
    @apply border-red-500;
    @apply text-red-500;
  }
}
