<section class="card-content" *ngIf="conn">
  <div class="meta">
    <div>
      <span>
        <span>Started:</span>
        <span>
          {{ conn.Started * 1000 | date:'mediumTime'}}
        </span>
      </span>

      <span>
        <span>Ended:</span>
        <span *ngIf="conn.Ended">
          {{ conn.Ended * 1000 | date:'mediumTime'}}
        </span>
        <span *ngIf="!conn.Ended">
          <fa-icon icon="spinner" [spin]="true"></fa-icon>
        </span>
      </span>

      <span *appExpertiseLevel="'expert'">
        <span>Process ID:</span>
        <span>{{ conn.ProcessContext.PID || 'N/A' }}</span>
      </span>

      <span *appExpertiseLevel="'developer'">
        <span>Profile Revision:</span>
        <span>
          {{ conn.ProfileRevisionCounter }}
        </span>
      </span>

      <span *appExpertiseLevel="'developer'">
        <span>Connection ID:</span>
        <span>
          {{ conn.ID }}
        </span>
      </span>

      <span *appExpertiseLevel="'expert'">
        <span>Local Address:</span>
        <span>
          {{ conn.LocalIP }}
          <span *ngIf="conn.LocalPort" class="de-emphasize">{{ ':'+conn.LocalPort }}</span>
        </span>
      </span>
    </div>

    <div>
      <span>
        <span>Direction:</span>
        <span>
          <fa-icon class="direction" [class.ended]="!!conn.Ended" [icon]="conn.Inbound ? 'arrow-down' : 'arrow-up'"
            [class.inbound]="conn.Inbound">
          </fa-icon>
          {{ conn.Inbound ? 'Incoming' : 'Outgoing' }}
        </span>
      </span>
      <span>
        <span>Protocol:</span>
        <span>{{ Protocols[conn.Entity.Protocol] || 'N/A' }}</span>
      </span>
      <span>
        <span>Encrypted:</span>
        <span>{{ conn.Encrypted ? 'yes' : 'no' }}</span>
      </span>
      <span>
        <span>Tunneled:</span>
        <span>{{ conn.Tunneled ? 'yes' : 'no' }}</span>
      </span>
    </div>

    <div>
      <span *ngIf="conn.Entity.Domain">
        <span>Domain:</span>
        <app-scope-label leftRightFix="true" [scope]="conn.Entity.Domain">
        </app-scope-label>
      </span>

      <span *ngIf="!conn.Entity.Domain">
        <span>Scope:</span>
        <span>{{ scopeTranslation[conn.Scope] }}</span>
      </span>

      <span>
        <span>Remote Peer:</span>
        <span>
          <span *ngIf="!!conn.Entity?.Country" [appCountryFlags]="conn.Entity!.Country"></span>
          {{ conn.Entity?.IP || 'DNS Request'}}
          <span *ngIf="conn.Entity?.Port" class="de-emphasize">{{ ':'+conn.Entity.Port }}</span>
        </span>
      </span>
      <span>
        <span>Country:</span>
        <span>{{ conn.Entity.Country || 'N/A'}}</span>
      </span>
      <span>
        <span>ASN:</span>
        <span>{{ conn.Entity.ASN || 'N/A' }}</span>
      </span>
      <span>
        <span>AS Org:</span>
        <span>{{ conn.Entity.ASOrg || 'N/A' }}</span>
      </span>
    </div>
  </div>

  <div class="meta">
    <div>
      <span>
        <span>Binary Path:</span>
        <span>{{ conn.ProcessContext.BinaryPath }} </span>
      </span>
      <span>
        <span>Reason:</span>
        <span>
          {{conn.Reason.Msg}}
        </span>
      </span>
      <span *ngIf="conn.Reason.OptionKey as option">
        <span>Applied Setting:</span>
        <span>
          <span>{{ helper.settings[option] || '' }}&nbsp;</span>
          <span class="de-emphasize" style="display: inline-block; text-align: left">&nbsp;from&nbsp;{{
            !!conn.Reason.Profile ? "App" :
            "Global" }} Settings</span>
        </span>
      </span>

      <span *ngIf="conn.ProfileRevisionCounter !== helper.profile?.currentProfileRevision">
        <span>Notice:</span>
        <span>
          <fa-icon [icon]="['far', 'clock']" class="old-revision"></fa-icon>
          The settings used for this connection have been superseded.
        </span>
      </span>
    </div>
  </div>
  <div class="actions">
    <button class="outline" *appExpertiseLevel="'expert'" (click)="helper.dumpConnection(conn)">Copy JSON</button>
    <button class="outline" *ngIf="(conn | isBlocked); else blockAction"
      (click)="helper.unblockAll(conn.Entity.Domain || conn.Entity.IP)" [disabled]="!(conn | canUseRules)">
      Allow {{ conn.Entity.Domain ? 'Domain' : 'IP'}}
    </button>
    <ng-template #blockAction>
      <button class="outline" (click)="helper.blockAll(conn.Entity.Domain || conn.Entity.IP)"
        [disabled]="!(conn | canUseRules)">
        Block {{ conn.Entity.Domain ? 'Domain' : 'IP '}}
      </button>
    </ng-template>
    <button class="outline" (click)="helper.redirectToSetting(conn.Reason.OptionKey)" *ngIf="!!conn.Reason.OptionKey">
      App Setting
    </button>
    <button class="outline" (click)="helper.redirectToSetting(conn.Reason.OptionKey, true)"
      *ngIf="!!conn.Reason.OptionKey">
      Global Setting
    </button>
  </div>
</section>
