.actions {
  padding-top    : 0.2rem;
  margin-top     : 0.2rem;
  border-top     : 1px solid #bec5cc20;
  display        : flex;
  justify-content: flex-end;
}

.tunnel-path {
  position: relative;

  .line {
    position        : absolute;
    top             : 10px;
    bottom          : 10px;
    left            : 8px;
    width           : 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .node-tag {
    border-radius   : 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    @apply py-1;
    @apply px-2;
    font-size    : 85%;
    border-radius: 3px;
    transform    : scale(0.85);
  }

  ul {
    position    : relative;
    padding-left: 20px;

    li:not(:last-of-type) {
      padding-bottom: 0.35rem;
    }

    .ip {
      margin-left: 0.35rem;
    }

    .country {
      display     : inline-block;
      margin-left : -20px;
      margin-right: 4px;

      &.unknown {
        height       : 14px;
        width        : 16px;
        position     : relative;
        top          : 3px;
        border       : 1px solid rgba(0, 0, 0, 0.25);
        opacity      : 0.5;
        border-radius: 3px;
        @apply bg-buttons-icon;
      }
    }
  }
}
