<section class="card-content" *ngIf="conn">
  <div class="meta">
    <div>
      <span>
        <span>Started:</span>
        <span>
          {{ conn.Started * 1000 | date:'mediumTime'}}
        </span>
      </span>

      <span>
        <span>Ended:</span>
        <span *ngIf="conn.Ended">
          {{ conn.Ended * 1000 | date:'mediumTime'}}
        </span>
        <span *ngIf="!conn.Ended">
          <fa-icon icon="spinner" [spin]="true"></fa-icon>
        </span>
      </span>

      <span *appExpertiseLevel="'expert'">
        <span>Process ID:</span>
        <span>{{ conn.ProcessContext.PID || 'N/A' }}</span>
      </span>

      <span *appExpertiseLevel="'developer'">
        <span>Profile Revision:</span>
        <span>
          {{ conn.ProfileRevisionCounter }}
        </span>
      </span>

      <span *appExpertiseLevel="'developer'">
        <span>Connection ID:</span>
        <span>
          {{ conn.ID }}
        </span>
      </span>

      <span *appExpertiseLevel="'expert'">
        <span>Local Address:</span>
        <span>
          {{ conn.LocalIP }}
          <span *ngIf="conn.LocalPort" class="de-emphasize">{{ ':'+conn.LocalPort }}</span>
        </span>
      </span>
    </div>

    <div>
      <span>
        <span>Direction:</span>
        <span>
          <fa-icon class="direction" [class.ended]="!!conn.Ended" [icon]="conn.Inbound ? 'arrow-down' : 'arrow-up'"
            [class.inbound]="conn.Inbound">
          </fa-icon>
          {{ conn.Inbound ? 'Incoming' : 'Outgoing' }}
        </span>
      </span>
      <span>
        <span>Protocol:</span>
        <span>{{ Protocols[conn.Entity.Protocol] || 'N/A' }}</span>
      </span>
      <span>
        <span>Encrytped:</span>
        <span>{{ conn.Encrypted ? 'yes' : 'no' }}</span>
      </span>
      <span>
        <span>Tunneled:</span>
        <span>{{ conn.Tunneled ? 'yes' : 'no' }}</span>
      </span>
    </div>

    <div>
      <span *ngIf="conn.Entity.Domain">
        <span>Domain:</span>
        <app-scope-label leftRightFix="true" [scope]="conn.Entity.Domain">
        </app-scope-label>
      </span>

      <span *ngIf="!conn.Entity.Domain">
        <span>Scope:</span>
        <span>{{ scopeTranslation[conn.Scope] }}</span>
      </span>

      <span>
        <span>Remote Peer:</span>
        <span>
          <span *ngIf="!!conn.Entity?.Country" [appCountryFlags]="conn.Entity!.Country"></span>
          {{ conn.Entity?.IP || 'DNS Request'}}
          <span *ngIf="conn.Entity?.Port" class="de-emphasize">{{ ':'+conn.Entity.Port }}</span>
        </span>
      </span>
      <span>
        <span>Country:</span>
        <span>{{ conn.Entity.Country || 'N/A'}}</span>
      </span>
      <span>
        <span>ASN:</span>
        <span>{{ conn.Entity.ASN || 'N/A' }}</span>
      </span>
      <span>
        <span>AS Org:</span>
        <span>{{ conn.Entity.ASOrg || 'N/A' }}</span>
      </span>
    </div>
  </div>

  <div class="meta">
    <div>
      <span>
        <span>Binary Path:</span>
        <span>{{ conn.ProcessContext.BinaryPath }} </span>
      </span>
      <span>
        <span>Reason:</span>
        <span>
          {{conn.Reason.Msg}}
        </span>
      </span>
      <span *ngIf="conn.Reason.OptionKey as option">
        <span>Setting:</span>
        <span>
          <span>{{ helper.settings[option] || '' }}&nbsp;</span>
          <svg (click)="helper.redirectToSetting(option)" class="cog port" viewBox="0 0 24 24">
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3">
              <path
                d="M13.7678 10.2322c.976311.976311.976311 2.55922 0 3.53553-.976311.976311-2.55922.976311-3.53553 0-.976311-.976311-.976311-2.55922 0-3.53553.976311-.976311 2.55922-.976311 3.53553 0" />
              <path
                d="M14.849 4.12l.583.194c.534.178.895.678.895 1.241v.837c0 .712.568 1.293 1.28 1.308l.838.018c.485.01.925.289 1.142.723l.275.55c.252.504.153 1.112-.245 1.51l-.592.592c-.503.503-.512 1.316-.02 1.83l.58.606c.336.351.45.858.296 1.319l-.194.583c-.178.534-.678.895-1.241.895h-.837c-.712 0-1.293.568-1.308 1.28l-.018.838c-.01.485-.289.925-.723 1.142l-.55.275c-.504.252-1.112.153-1.51-.245l-.592-.592c-.503-.503-1.316-.512-1.83-.02l-.606.58c-.351.336-.858.45-1.319.296l-.583-.194c-.534-.178-.895-.678-.895-1.241v-.837c0-.712-.568-1.293-1.28-1.308l-.838-.018c-.485-.01-.925-.289-1.142-.723l-.275-.55c-.252-.504-.153-1.112.245-1.51l.592-.592c.503-.503.512-1.316.02-1.83l-.58-.606c-.337-.352-.451-.86-.297-1.32l.194-.583c.178-.534.678-.895 1.241-.895h.837c.712 0 1.293-.568 1.308-1.28l.018-.838c.012-.485.29-.925.724-1.142l.55-.275c.504-.252 1.112-.153 1.51.245l.592.592c.503.503 1.316.512 1.83.02l.606-.58c.351-.335.859-.449 1.319-.295z" />
            </g>
          </svg>
          <span class="de-emphasize" style="width: 80px; display: inline-block; text-align: left">&nbsp;{{
            !!conn.Reason.Profile ? "App" :
            "Global" }} Settings</span>
        </span>
      </span>

      <span *ngIf="conn.ProfileRevisionCounter !== helper.profile?.currentProfileRevision">
        <span>Notice:</span>
        <span>
          <fa-icon [icon]="['far', 'clock']" class="old-revision"></fa-icon>
          The settings used for this connection have been superseded.
        </span>
      </span>
    </div>
  </div>
</section>
