<div class="relative flex flex-row mb-2 border-b outline-none border-secondary" tabindex="0"
  (keydown)="onKeydown($event)">

  <!-- Tab Group Header -->
  <div *ngFor="let tab of tabs; let index=index"
    class="flex flex-row items-center justify-center px-4 py-2 space-x-1 cursor-pointer hover:text-primary" #tabHeader
    [ngClass]="{'text-primary': index === activeTabIndex, 'text-secondary': index !== activeTabIndex}"
    (click)="activateTab(index)">

    <span>{{ tab.title }}</span>
    <app-tipup [key]="tab.tipUpKey" *ngIf="tab.tipUpKey"></app-tipup>

  </div>

  <!-- There are no "transition" classes yet because we add it AFTER the first animation -->
  <div class="absolute top-0 left-0 border-t border-white opacity-0" #activeTabBar></div>
</div>

<ng-tempalte cdkPortalOutlet></ng-tempalte>
