:host {
  &>div {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 4rem;
    margin-top: 1rem;
    margin-bottom  : 2rem;
    padding-right: 3rem;
    padding-left: 3rem;

  }
}


.metric {
  display       : flex;
  flex-direction: column;
  align-items   : center;

  label{
    @apply text-tertiary;
    margin-bottom: 0.3rem;
    opacity: 0.8;
  }

  label {
    font-size: 0.9em;
  }

  span.value {
    font-size: 1.4rem;
    font-family: 500;
    @apply text-primary;
  }
}
