<div *ngIf="mode === 'input' || total > 0">
  <div class="metric">
    <label>Connections</label>
    <span class="value">{{total}}</span>
  </div>

  <div class="metric">
    <label>Destinations</label>
    <span class="value">{{ stats.distinctIPs.size }}</span>
  </div>

  <div class="metric">
    <label>Countries</label>
    <ng-container *ngIf="stats.distinctCountries.size === 1; else: countryCounter">
      <span>
        <!-- we need an ngFor here since Sets() are not indexable -->
        <span class="value">{{stats.firstCountry}}</span>
      </span>
    </ng-container>
    <ng-template #countryCounter>
      <span class="value">{{ stats.distinctCountries.size }}</span>
    </ng-template>
  </div>

  <div class="metric">
    <label>Allowed</label>
    <span>
      <span class="value">{{ (100 / total) * stats.countAccepted  | number:'1.0-1' }}</span>%
    </span>
  </div>

  <div class="metric">
    <label>Blocked</label>
    <span>
      <span class="value">{{ (100 / total) * (total - stats.countAccepted)  | number:'1.0-1' }}</span>%
    </span>
  </div>

  <!--
  <div class="metric">
    <label>Encrypted</label>
    <span>
      <span class="value">{{(100 / total) * stats.countEncrypted  | number:'1.0-0'}}</span>%
    </span>
  </div>
-->

</div>
