:host {
  user-select: none;
  
  &>div {
    width          : 90%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 4rem;
    margin-bottom  : 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.metric {
  display       : flex;
  flex-direction: column;
  align-items   : center;

  label,
  span {
    @apply text-tertiary;
    margin-bottom: -0.3rem;
  }

  label {
    font-size: 0.718rem;
    font-weight: 600;
    opacity: .65;
    margin-bottom: 2px
  }

  span.value {
    @apply text-xl;
    @apply text-primary;
  }
}
