app-settings-overview {
  @apply pb-4;
}

h1 {
  @apply my-6;
  display    : flex;
  align-items: center;

  app-icon {
    --app-icon-size: 35px;
  }

  .link {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 24px;
    width          : 24px;
    opacity        : .5;
    @apply bg-buttons-dark;
    @apply ml-4;
    cursor       : pointer;
    border-radius: 50%;
    transition   : all .15s ease-in-out;

    &:hover {
      opacity: 1;
      @apply bg-buttons-light;
    }

    fa-icon {
      color          : theme('colors.buttons.icon');
      display        : flex;
      font-size      : 12px;
      flex-direction : column;
      align-items    : center;
      justify-content: center;
    }
  }

  .delete-profile-container {
    flex-grow      : 1;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;

    button {
      transition: all .2s ease-in-out;
      color     : theme('colors.text.tertiary');
      @apply bg-transparent;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &.confirm {
        @apply bg-info-red;
        color: white;
      }
    }
  }
}

h2.app-settings {
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  app-dropdown {
    margin-right: 0.5em;
  }
}

.no-customization {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  @apply p-8;
  @apply mt-8;

  fa-icon {
    @apply text-4xl;
    opacity: 0.5;
    color  : theme('colors.buttons.icon');
  }

  p {
    @apply text-base;
  }

  button {
    @apply mt-8;
    @apply p-2;
  }
}

.app-name {
  @apply mx-2;
  opacity  : 0.7;
  font-size: 0.9em;

  app-icon {
    @apply mr-0;
    --app-icon-size: 20px;
  }
}

.app-overview {
  margin-left : calc(200px + 1rem); // TODO(ppacher): copied from app-settings-view
  margin-right: 1rem;
}

.meta {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap                  : 1rem;
  white-space          : normal;
  text-overflow        : ellipsis;

  @apply mb-8;

  .app-details {
    @apply bg-cards-primary;
    @apply rounded;
    @apply p-4;

    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;

    p {
      overflow     : hidden;
      text-overflow: ellipsis;
    }

    label {
      @apply font-normal;
      @apply mr-2;
    }

    span {
      @apply text-primary;
      word-break: break-all;
    }
  }

  .description {
    display       : flex;
    flex-direction: row;
    border-left   : 2px solid;
    border-color  : theme("colors.info.yellow");

    .icon fa-icon {
      color: theme("colors.info.yellow");
    }

    markdown {
      padding: 0;
    }

    .icon {
      display     : flex;
      align-items : flex-start;
      flex-shrink : 1;
      margin-right: 1rem;
      padding-top : 2px;
    }
  }
}

.scroll-container {
  overflow: auto;
  @apply mr-4;
}
