:host {
  justify-content: flex-start;
}


.scrollable {
  width: auto;
  @apply mr-4;
  @apply ml-10;

  flex-grow            : 0;
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap                  : 1rem;
}

h4 {
  @apply bg-background;
  @apply pb-2;
  width   : 100%;
  position: sticky;
  top     : 0px;

  grid-column: 1 / -1;
}

.card-header {
  // Card headers have top-margin by default.
  // Since we're using a grid-gap anyway we need
  // to clear the margin.
  @apply mt-0;
}
