<div class="header">
  <input type="text" placeholder="Search" [ngModel]="searchTerm" (ngModelChange)="searchApps($event)">
  <app-expertise></app-expertise>
</div>

<div class="header-title">
  <h1>
    All Apps
    <app-tipup key="appsTitle"></app-tipup>
  </h1>
</div>

<div class="scrollable" [@fadeInList]="total">

  <ng-container *ngIf="runningProfiles.length > 0">
    <div class="scrollable-header">
      <h4>
        Active
      </h4>
    </div>
    <ng-container *ngTemplateOutlet="profileList; context: {$implicit: runningProfiles}"></ng-container>
  </ng-container>

  <ng-container *ngIf="recentlyEdited.length > 0">
    <div class="scrollable-header">
      <h4>
        Recently Edited
      </h4>
    </div>
    <ng-container *ngTemplateOutlet="profileList; context: {$implicit: recentlyEdited}"></ng-container>
  </ng-container>

  <ng-container *ngIf="profiles.length > 0">
    <div class="scrollable-header">
      <h4>
        All
      </h4>
    </div>
    <ng-container *ngTemplateOutlet="profileList; context: {$implicit: profiles}"></ng-container>
  </ng-container>

  <ng-template #profileList let-list>
    <ng-container *ngFor="let profile of list; trackBy: trackProfile">
      <div *appExpertiseLevel="profile.Internal ? 'developer' : 'user'" class="card-header"
        [routerLink]="['/app', profile.Source,  profile.ID]">
        <app-icon [profile]="profile"></app-icon>
        <span class="card-title">
          <span [innerHTML]="profile?.Name | safe:'html'"></span>
          <span class="card-sub-title" *appExpertiseLevel="'expert'"
            [innerHTML]="profile?.LinkedPath | safe:'html'"></span>
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="loading">
      <div class="card-header">
        <fa-icon class="card-icon loading" icon="square"></fa-icon>
        <app-text-placeholder mode="input" width="small" class="card-title"></app-text-placeholder>
      </div>
      <div class="card-header">
        <fa-icon class="card-icon loading" icon="square"></fa-icon>
        <app-text-placeholder mode="input" width="small" class="card-title"></app-text-placeholder>
      </div>
      <div class="card-header">
        <fa-icon class="card-icon loading" icon="square"></fa-icon>
        <app-text-placeholder mode="input" width="7rem" class="card-title"></app-text-placeholder>
      </div>
      <div class="card-header">
        <fa-icon class="card-icon loading" icon="square"></fa-icon>
        <app-text-placeholder mode="input" width="3rem" class="card-title"></app-text-placeholder>
      </div>
    </ng-container>
  </ng-template>

</div>
