<div tipUpAnchor class="scout no-scroll">
  <div class="scout-header" [class.search-active]="!!(onSearch | async) || showSearch">
    <div class="monitor-title">
      <h4>
        Network Activity
        <app-tipup key="networkMonitor"></app-tipup>
      </h4>
      <span>last 10 minutes</span>
    </div>
    <div class="search-container">
      <div class="search-button" (click)="toggleSearch()">
        <div class="search">
          <svg viewBox="0 0 24 24">
            <g fill="none">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                d="M15.7138 6.8382c2.45093 2.45093 2.45093 6.42467 0 8.8756-2.45093 2.45093-6.42467 2.45093-8.8756 0-2.45093-2.45093-2.45093-6.42467 0-8.8756 2.45093-2.45093 6.42467-2.45093 8.8756 0M19 19l-3.29-3.29" />
            </g>
          </svg>
        </div>
      </div>

      <input spellcheck="false" type="text" placeholder="Search Monitor" [ngModel]="(onSearch | async)"
        (ngModelChange)="search($event)" (keydown)="onSearchKeyDown($event)"
        [autoFocus]="!!(onSearch | async) || showSearch">

      <div class="close-search" (click)="toggleSearch()">
        <svg viewBox="0 0 24 24">
          <g fill="none">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7"
              d="M14.83 9.17l-5.66 5.66M14.83 14.83L9.17 9.17" />
          </g>
        </svg>
      </div>
    </div>
  </div>

  <div class="overflow-auto rounded scrollable" [@moveInOutList]="profiles.length">
    <ng-container *ngFor="let data of profiles; trackBy: trackProfile">
      <li class="bg-gray-100 card-header" *appExpertiseLevel="data.size === 0 ? 'developer' : 'user'"
        routerLink="/app/{{data.ID }}" routerLinkActive="active" tipUpTrigger="networkMonitor-App" tipUpAnchor
        tipUpPassive>
        <app-icon [profile]="data"></app-icon>
        <span class="card-title">{{ data.Name }} </span>
        <app-count-indicator [count]="data.size" [countAllowed]="data.countAllowed">
        </app-count-indicator>
      </li>
    </ng-container>
    <ng-container *ngIf="loading">
      <li class="card-header">
        <app-icon></app-icon>
        <app-text-placeholder mode="input" width="small" class="card-title"></app-text-placeholder>
        <app-count-indicator></app-count-indicator>
      </li>
      <li class="card-header">
        <app-icon></app-icon>
        <app-text-placeholder mode="input" width="7rem" class="card-title"></app-text-placeholder>
        <app-count-indicator></app-count-indicator>
      </li>
      <li class="card-header">
        <app-icon></app-icon>
        <app-text-placeholder mode="input" width="3rem" class="card-title"></app-text-placeholder>
        <app-count-indicator></app-count-indicator>
      </li>
    </ng-container>
  </div>

</div>
