<ng-container *ngIf="!!currentUser && currentUser.state !== ''">
  <h1 class="mb-4 text-xl">Account Details</h1>

  <div *ngIf="currentUser?.state === 'loggedout'" class="w-full px-4 py-2 mb-4 text-center rounded bg-info-red">
    You have been logged out by the account server.
    <br />
    Please check <a class="underline text-primary" href="https://account.safing.io">your account</a>.
  </div>

  <table class="mb-4">
    <tr>
      <th>Username</th>
      <td>{{ currentUser.username }} </td>
    </tr>
    <tr>
      <th>Balance</th>
      <td>{{ currentUser.balance / 100 | currency:'EUR' }} </td>
    </tr>
    <tr>
      <th>Current Plan</th>
      <td>{{ currentUser.current_plan?.name }}</td>
    </tr>
    <tr>
      <th>Subscription ends at</th>
      <td>{{ currentUser.subscription?.ends_at | date:'medium' }}</td>
    </tr>

    <tr>
      <th>Device Name</th>
      <td>{{ currentUser.device?.name }}</td>
    </tr>
    <tr *appExpertiseLevel="'developer'">
      <th>Device ID</th>
      <td>{{currentUser.device?.id}}</td>
    </tr>
    <tr>
      <th>Logged in since</th>
      <td>{{ currentUser.LoggedInAt | date:'medium' }} </td>
    </tr>
    <tr *appExpertiseLevel="'developer'">
      <th>Account State</th>
      <td>{{ currentUser.state }} </td>
    </tr>
  </table>

  <div class="flex items-end justify-end w-full space-x-2">
    <button (click)="logout()" class="bg-info-red">Logout</button>
    <button (click)="refreshAccount()" style="width: 70px">
      <ng-container *ngIf="!refreshing; else: loading">
        Refresh
      </ng-container>
      <ng-template #loading>
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </ng-template>
    </button>
  </div>
</ng-container>

<app-spn-login *ngIf="!loadingProfile && (currentUser === null || currentUser.state === '')"></app-spn-login>
