<ng-container *ngIf="!!currentUser && currentUser.state !== '' && currentUser.state !== 'loggedout'">
  <h1 class="mb-4 text-xl">Account Details</h1>

  <table class="mb-4">
    <tr>
      <th>Username</th>
      <td>{{ currentUser.username }} </td>
    </tr>
    <tr>
      <th>Balance</th>
      <td>{{ currentUser.balance / 100 | currency:'EUR' }} </td>
    </tr>
    <tr>
      <th>Current Plan</th>
      <td>{{ currentUser.current_plan?.name }}</td>
    </tr>
    <tr>
      <th>Subscription ends at</th>
      <td>{{ currentUser.subscription?.ends_at | date:'medium' }}</td>
    </tr>

    <tr>
      <th>Device Name</th>
      <td>{{ currentUser.device?.name }}</td>
    </tr>
    <tr *appExpertiseLevel="'developer'">
      <th>Device ID</th>
      <td>{{currentUser.device?.id}}</td>
    </tr>
    <tr>
      <th>Logged in since</th>
      <td>{{ currentUser.LoggedInAt | date:'medium' }} </td>
    </tr>
    <tr *appExpertiseLevel="'developer'">
      <th>Account State</th>
      <td>{{ currentUser.state }} </td>
    </tr>
  </table>

  <div class="flex items-end justify-end w-full space-x-2">
    <button *ngIf="dialogRef" (click)="dialogRef.close()" class="">Close</button>
    <div class="flex-grow"></div>

    <button (click)="logout()" class="bg-info-red">Logout</button>
    <button (click)="refreshAccount()" style="width: 70px">
      <ng-container *ngIf="!refreshing; else: loading">
        Refresh
      </ng-container>
      <ng-template #loading>
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </ng-template>
    </button>
  </div>
</ng-container>

<app-spn-login
  *ngIf="!loadingProfile && (currentUser === null || currentUser.state === '' || currentUser.state === 'loggedout')"
  [forcedLogout]="currentUser?.state === 'loggedout'"></app-spn-login>
