<div class="list-items" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="item" *ngFor="let entry of entries; let index=index; trackBy: trackBy" cdkDrag
    [cdkDragDisabled]="readonly">
    <fa-icon icon="grip-vertical" cdkDragHandle *ngIf="!readonly"></fa-icon>
    <app-rule-list-item [readonly]="readonly" [value]="entry" (valueChange)="updateValue(index, $event)"
      (delete)="deleteEntry(index)">
    </app-rule-list-item>
  </div>
</div>

<div class="button-list" *ngIf="!readonly">
  <div class="new-entry" (click)="addEntry()">
    <fa-icon icon="plus-circle" [inverse]="false"></fa-icon>
    <span>Add rule</span>
  </div>
</div>
