<input [cdkTrapFocus]="false" [cdkTrapFocusAutoCapture]="true" cdkOverlayOrigin class="w-full rounded-tr-sm" type="text"
  [(ngModel)]="textSearch" placeholder="Search for connections, press ENTER to apply"
  (keydown)="onSearchKeyDown($event)" (blur)="onFocusLost($event)" (ngModelChange)="onSearchModelChange($event)"
  #searchBar>


<sfng-dropdown externalTrigger="true" #suggestionDropdown *ngIf="mode === 'default'; else: suggestionTemplate">
  <ng-container *ngTemplateOutlet="suggestionTemplate"></ng-container>
</sfng-dropdown>

<ng-template #suggestionTemplate>
  <div sfng-netquery-suggestion>
    <!-- fake option -->
  </div>

  <div class="flex flex-col gap-4 justify-start items-start p-3 px-4 w-full" (mouseenter)="cancelDropdownClose()"
    [@fadeInList]="suggestions.length" (mousemove)="resetKeyboardSelection()">

    <ng-container *ngFor="let sug of suggestions; trackBy: trackSuggestion">
      <div class="flex flex-col gap-1 justify-start items-start self-stretch">
        <h3 class="flex flex-row gap-2 items-center w-full text-xxs text-tertiary">
          {{ labels[sug.field] || sug.field }}
          <span class="inline-block flex-grow border-t border-gray-400"></span>
        </h3>
        <ul class="self-stretch">
          <li *ngFor="let val of sug.values" (click)="applySuggestion(sug.field, val.value, $event, sug.start)"
            [sfng-netquery-suggestion]="val.value" [sfngSuggestion]="sug"
            class="flex flex-row gap-2 justify-between px-2 py-1 w-full rounded-sm cursor-pointer hover:bg-gray-300">
            <span class="text-primary">{{ val.display || (val.value === '' ? 'N/A' : val.value) }}</span>
            <span class="text-secondary">#{{ val.count }} connections</span>
          </li>
        </ul>
      </div>
    </ng-container>

    <div class="flex flex-row gap-2 justify-start items-center w-full text-xs border-gray-400 text-primary" [@fadeIn]
      *ngIf="loading" [ngClass]="{'border-t pt-2': !!suggestions?.length}">
      <svg class="w-4 h-4 animate-spin text-secondary" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
        </path>
      </svg>
      Loading suggestions ...
    </div>

    <ng-container *ngIf="!suggestions?.length && !loading">
      <span>
        There are no suggestions for your query. Press
        <pre
          class="inline-block px-0.5 font-mono uppercase bg-gray-500 bg-opacity-25 rounded-sm border border-gray-500 text-xxs">Enter</pre>
        to
        perform a full text search.
      </span>
    </ng-container>
  </div>
</ng-template>