ol {
  overflow-x: hidden;
}

li.details {
  display: none;
  opacity: 0;

  &,
  pre {
    @apply text-xs;
  }

  @apply bg-gray-200;
  @apply shadow-inner-xs;

  &:target {
    opacity: 1;
    display: block;
  }
}

li {
  display        : flex;
  position       : relative;
  justify-content: space-between;
  @apply p-2;
  @apply px-4;

  div.overlay {
    transform      : translateX(100%);
    transition     : all ease-in-out .2s;
    position       : absolute;
    top            : 0;
    right          : 0px;
    bottom         : 0px;
    min-width      : 30%;
    display        : flex;
    align-items    : center;
    justify-content: space-evenly;

    @apply bg-red-500;
    @apply px-4;

    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.46);

    &:hover {
      transform: translateX(0);
    }

    button,
    a {
      @apply text-white;
      @apply uppercase;
      @apply text-xs;
      @apply font-semibold;
      @apply mx-2;

      &:hover {
        @apply underline;
      }
    }
  }

  a {
    display: inline-block;
    @apply px-1;
  }

  a:hover+div.overlay {
    transform: translateX(0);
  }
}

a.menu {
  cursor: pointer;
  @apply text-blue-700;

  &:hover {
    @apply text-blue-500;
  }
}
