:host {
  display: inline-block;
  width  : fit-content;

  &:disabled {
    button {
      cursor: not-allowed;
    }
  }
}

button {
  cursor          : pointer;
  padding         : 0;
  position        : relative;
  width           : fit-content;
  white-space     : nowrap;
  display         : flex;
  align-items     : center;
  outline         : none;
  text-transform  : none;
  transition      : all cubic-bezier(0.175, 0.885, 0.32, 1) .2s;
  background-color: #292929;
  align-self      : center;

  &.active {
    @apply bg-buttons-dark;

    .arrow .arrow-icon {
      transform: rotate(-90deg);
    }
  }

  span {
    flex-grow    : 1;
    text-align   : center;
    padding-left : 0.8rem;
    padding-right: 0.8rem;
  }

  .arrow {
    padding-top     : 0.415rem;
    padding-bottom  : 0.425rem;
    padding-left    : 0.2rem;
    padding-right   : 0.1rem;
    background-color: #202020;
    @apply rounded-r-sm;
    display        : flex;
    align-items    : center;
    justify-content: space-around;

    .arrow-icon {
      width     : 1.1rem;
      float     : right;
      padding   : 0;
      margin    : 0;
      transform : rotateZ(90deg);
      transition: all ease-in-out .1s;

      .inner {
        stroke: white;
      }

    }
  }
}

ul.item-list {
  width  : 100%;
  display: block;
  @apply bg-buttons-light;
  @apply shadow-xl;

  li {
    cursor: pointer;
    @apply p-2;
    @apply px-4;

    &:hover {
      @apply bg-buttons-dark;
    }
  }
}
