:host {
  display: block;
  width  : fit-content;

  &:disabled {
    button {
      cursor: not-allowed;
    }
  }
}

button {
  cursor        : pointer;
  padding       : 0;
  position      : relative;
  min-width     : 5rem;
  width         : fit-content;
  white-space   : nowrap;
  display       : flex;
  align-items   : center;
  outline       : none;
  text-transform: none;
  @apply bg-cards-primary;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) .2s;

  color: var(--text-secondary);

  svg.arrow {
    width: 1.25rem;
    float  : right;
    padding: 0;
    margin : 0;
    transform: rotateZ(90deg);

    .inner {
      stroke: white;
    }
   
  }


  &.active {
    @apply bg-cards-primary;

    svg.arrow {
      transform: rotateZ(270deg);
    }

  }

  span {
    width: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 14px;
    
    flex-grow : 1;
    text-align: center;
  }

  .arrow {
    padding-top: 6px;
    padding-bottom: 6px;
    //padding-left: 10px;
    //padding-right: 10px;

    @apply bg-cards-secondary;
    
    border-top-right-radius: 2.8px;
    border-bottom-right-radius: 2.8px;

    width          : 1.6rem;
    display        : flex;
    align-items    : center;
    justify-content: space-around;
  }
}

ul.item-list {
  width  : 100%;
  display: block;
  @apply bg-cards-primary;

  color: var(--text-secondary);

  li {
    cursor: pointer;
    @apply p-2;
    @apply px-4;

    &:hover {
      @apply bg-cards-secondary;

      color: var(--text-primary);
    }
  }
}
