<div class="content-wrapper">
  <caption>Tip</caption>
  <fa-icon class="close-icon" icon="times" (click)="close()"></fa-icon>

  <h1>{{title}}</h1>

  <markdown emoji [data]="content" class="message"></markdown>

  <a *ngIf="!!url" [href]="url">{{ urlText }}</a>

  <div class="buttons">
    <div class="actions">
      <button *ngFor="let btn of buttons" (click)="runAction(btn)">{{ btn.name }}</button>
    </div>
    <button *ngIf="!!nextKey" class="btn" (click)="next()">Next</button>
  </div>
</div>
