div.tableFixHead {
  @apply rounded-t;
  max-height: 16rem;

  &:not(.empty) {
    @apply rounded;
  }
}

table {
  tr.ended {
    opacity: 0.5;
  }

  .cdk-column {
    &-state {
      width     : 3rem;
      text-align: center;
    }

    &-entity {
      width      : 20%;
      min-width  : 150px;
      white-space: nowrap;
    }

    &-started,
    &-ended {
      width     : 5rem;
      text-align: center;
    }

    &-actions {
      width: 3rem;
    }
  }
}

.action-buttons {
  padding-left   : 0.2rem;
  margin-left    : 0.2rem;
  border-left    : 1px solid #bec5cc20;
  display        : flex;
  justify-content: flex-start;
  flex-direction : column;
  width          : 120px;
  flex-grow      : 0 !important;
  flex-shrink    : 0 !important;
  min-width      : unset;

  button.outline {
    text-align: left;
  }
}

.tableFixHead {
  @apply mb-4;

  &~table {
    margin-top: calc(-1rem + 2px);

    td {
      @apply rounded-b;
    }
  }
}
