div.tableFixHead {
  @apply rounded-t;
  max-height: 16rem;

  &:not(.empty) {
    @apply rounded;
  }
}

table {
  tr.ended {
    opacity: 0.5;
  }

  .cdk-column {
    &-state {
      width     : 3rem;
      text-align: center;
    }

    &-entity {
      width      : 20%;
      min-width  : 150px;
      white-space: nowrap;
    }

    &-started,
    &-ended {
      width     : 5rem;
      text-align: center;
    }

    &-actions {
      width: 3rem;
    }
  }
}

.tableFixHead {
  @apply mb-4;

  &~table {
    margin-top: calc(-1rem + 2px);

    td {
      @apply rounded-b;
    }
  }
}
