<section class="card-content" *ngIf="!!grp">
  <div class="meta">
    <div>
      <span *ngIf="grp.domain">
        <span>Domain:</span>
        <span class="subdomain">{{grp.subdomain}}.</span>{{grp.domain}}
      </span>

      <span *ngIf="!grp.domain">
        <span>Scope:</span>
        <span>{{ helper.scopeTranslation[grp.scope] }}</span>
      </span>

      <span>
        <span>Most recent:</span>
        <span>
          {{ (grp.stats.lastConn || grp.stats.firstConn) * 1000 | date:'medium'}}
        </span>
      </span>
    </div>

    <div>
      <span>
        <span>Connections:</span>
        <span>{{grp.size}}</span>
      </span>

      <span>
        <span>Encrypted:</span>
        <span>{{100 / grp.size * grp.stats.countEncrypted | number:'1.0-2'}}%</span>
      </span>

      <span *ngIf="!!grp.stats.countDNS">
        <span>DNS Requests: </span>
        <span>{{100 / grp.size * grp.stats.countDNS | number:'1.0-2'}}%</span>
      </span>

      <span *ngIf="!!grp.stats.countTCP">
        <span>TCP: </span>
        <span>{{100 / grp.size * grp.stats.countTCP | number:'1.0-2'}}%</span>
      </span>

      <span *ngIf="!!grp.stats.countUDP">
        <span>UDP: </span>
        <span>{{100 / grp.size * grp.stats.countUDP | number:'1.0-2'}}%</span>
      </span>
    </div>

    <div>
      <span *ngIf="!!grp.stats.distinctIPs?.size">
        <span>IPs:</span>
        <span>{{grp.stats.distinctIPs?.size}}</span>
      </span>

      <span *ngIf="!!grp.stats.distinctCountries?.size">
        <span>Countries:</span>
        <span>{{grp.stats.distinctCountries?.size}}</span>
      </span>

      <span *ngIf="!!grp.stats.distinctASNs?.size">
        <span>ASNs:</span>
        <span>{{grp.stats.distinctASNs?.size}}</span>
      </span>
    </div>
  </div>

  <h4>Connections / DNS Requests History</h4>
  <ng-container *ngTemplateOutlet="connectionTable; context: {$implicit: grp.connections}"></ng-container>

  <table *ngIf="!grp.hasNewConnections" class="waiting-connections">
    <tr>
      <td>
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
        Waiting for new connections
      </td>
    </tr>
  </table>

  <ng-container *ngIf="!!(grp.oldConnections | async)?.length">
    <h4>
      Connections / DNS Requests History <i>with previous settings</i>
    </h4>
    <ng-container *ngTemplateOutlet="connectionTable; context: {$implicit: grp.oldConnections}"></ng-container>
  </ng-container>

</section>

<ng-template #connectionTable let-connections>
  <div class="tableFixHead" [class.empty]="!!(connections | async)">
    <table cdk-table [dataSource]="connections">
      <!-- State Column -->
      <ng-container cdkColumnDef="state">
        <th cdk-header-cell *cdkHeaderCellDef> Approval </th>
        <td cdk-cell *cdkCellDef="let conn">
          <span class="trust-level" [ngClass]="helper.getVerdictClass(conn)"></span>
        </td>
      </ng-container>

      <!-- Reason Column -->
      <ng-container cdkColumnDef="reason">
        <th cdk-header-cell *cdkHeaderCellDef> Reason </th>
        <td cdk-cell *cdkCellDef="let conn">
          {{conn.Reason.Msg}}
          <span class="de-emphasize">by {{ !!conn.Reason.Profile ? "app" : "global" }}</span>
        </td>
      </ng-container>

      <!-- Entity Column -->
      <ng-container cdkColumnDef="entity">
        <th cdk-header-cell *cdkHeaderCellDef> Entity </th>
        <td cdk-cell *cdkCellDef="let conn">
          <span *ngIf="!!conn.Entity?.Country" [appCountryFlags]="conn.Entity!.Country"></span>
          {{ conn.Entity?.IP || 'DNS Request'}}
          <span *ngIf="conn.Entity?.Port" class="de-emphasize">{{ ':'+conn.Entity.Port }}</span>
        </td>
      </ng-container>

      <!-- Started Column -->
      <ng-container cdkColumnDef="started">
        <th cdk-header-cell *cdkHeaderCellDef> Started </th>
        <td cdk-cell *cdkCellDef="let conn"> {{conn.Started * 1000 | date:'shortTime'}} </td>
      </ng-container>

      <!-- Ended Column -->
      <ng-container cdkColumnDef="ended">
        <th cdk-header-cell *cdkHeaderCellDef> Ended </th>
        <td cdk-cell *cdkCellDef="let conn">
          <ng-container *ngIf="conn.Ended > 0">{{conn.Ended * 1000 | date:'shortTime'}}</ng-container>
          <fa-icon *ngIf="!conn.Ended" icon="spinner" [spin]="true"></fa-icon>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef> </th>
        <td cdk-cell *cdkCellDef="let conn">
          <svg (click)="helper.redirectToSetting(conn)" *ngIf="!!conn.Reason.OptionKey" class="cog" viewBox="0 0 24 24">
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.3">
              <path
                d="M13.7678 10.2322c.976311.976311.976311 2.55922 0 3.53553-.976311.976311-2.55922.976311-3.53553 0-.976311-.976311-.976311-2.55922 0-3.53553.976311-.976311 2.55922-.976311 3.53553 0" />
              <path
                d="M14.849 4.12l.583.194c.534.178.895.678.895 1.241v.837c0 .712.568 1.293 1.28 1.308l.838.018c.485.01.925.289 1.142.723l.275.55c.252.504.153 1.112-.245 1.51l-.592.592c-.503.503-.512 1.316-.02 1.83l.58.606c.336.351.45.858.296 1.319l-.194.583c-.178.534-.678.895-1.241.895h-.837c-.712 0-1.293.568-1.308 1.28l-.018.838c-.01.485-.289.925-.723 1.142l-.55.275c-.504.252-1.112.153-1.51-.245l-.592-.592c-.503-.503-1.316-.512-1.83-.02l-.606.58c-.351.336-.858.45-1.319.296l-.583-.194c-.534-.178-.895-.678-.895-1.241v-.837c0-.712-.568-1.293-1.28-1.308l-.838-.018c-.485-.01-.925-.289-1.142-.723l-.275-.55c-.252-.504-.153-1.112.245-1.51l.592-.592c.503-.503.512-1.316.02-1.83l-.58-.606c-.337-.352-.451-.86-.297-1.32l.194-.583c.178-.534.678-.895 1.241-.895h.837c.712 0 1.293-.568 1.308-1.28l.018-.838c.012-.485.29-.925.724-1.142l.55-.275c.504-.252 1.112-.153 1.51.245l.592.592c.503.503 1.316.512 1.83.02l.606-.58c.351-.335.859-.449 1.319-.295z" />
            </g>
          </svg>
          <svg *appExpertiseLevel="'developer'" icon="eye" (click)="helper.dumpConnection(conn)" class="copy"
            viewBox="0 0 24 24">
            <g fill="none">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
                d="M7 15H5c-1.105 0-2-.895-2-2V5c0-1.105.895-2 2-2h8c1.105 0 2 .895 2 2v2" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
                d="M13 19H9c-1.105 0-2-.895-2-2V9c0-1.105.895-2 2-2h8c1.105 0 2 .895 2 2v4M19 17v4M17 19h4" />
            </g>
          </svg>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" [class.ended]="row.Ended > 0"></tr>
    </table>
  </div>
</ng-template>
