<section class="card-content" *ngIf="!!grp">
  <div class="meta">
    <div>
      <span *ngIf="grp.domain">
        <span>Domain:</span>
        <span class="subdomain" *ngIf="!!grp.subdomain">{{grp.subdomain}}.</span>{{grp.domain}}
      </span>

      <span *ngIf="!grp.domain">
        <span>Scope:</span>
        <span>{{ helper.scopeTranslation[grp.scope] }}</span>
      </span>

      <span>
        <span>Most recent:</span>
        <span>
          {{ (grp.stats.lastConn || grp.stats.firstConn) * 1000 | date:'medium'}}
        </span>
      </span>
    </div>

    <div>
      <span>
        <span>Connections:</span>
        <span>{{grp.size}}</span>
      </span>

      <span>
        <span>Encrypted:</span>
        <span>{{100 / grp.size * grp.stats.countEncrypted | number:'1.0-2'}}%</span>
      </span>

      <span *ngIf="!!grp.stats.countDNS">
        <span>DNS Requests: </span>
        <span>{{100 / grp.size * grp.stats.countDNS | number:'1.0-2'}}%</span>
      </span>

      <span *ngIf="!!grp.stats.countTCP">
        <span>TCP: </span>
        <span>{{100 / grp.size * grp.stats.countTCP | number:'1.0-2'}}%</span>
      </span>

      <span *ngIf="!!grp.stats.countUDP">
        <span>UDP: </span>
        <span>{{100 / grp.size * grp.stats.countUDP | number:'1.0-2'}}%</span>
      </span>
    </div>

    <div>
      <span *ngIf="!!grp.stats.distinctIPs?.size">
        <span>IPs:</span>
        <span>{{grp.stats.distinctIPs?.size}}</span>
      </span>

      <span *ngIf="!!grp.stats.distinctCountries?.size">
        <span>Countries:</span>
        <span>{{grp.stats.distinctCountries?.size}}</span>
      </span>

      <span *ngIf="!!grp.stats.distinctASNs?.size">
        <span>ASNs:</span>
        <span>{{grp.stats.distinctASNs?.size}}</span>
      </span>
    </div>
  </div>

  <!-- Accordion Header Template -->
  <ng-template #accordionHeader let-conn let-active="active">
    <app-ungrouped-connection-row [conn]="conn" class="card-header" [class.active]="active"
      [activeRevision]="helper.profile?.currentProfileRevision">
    </app-ungrouped-connection-row>
  </ng-template>
  <!-- End Accordion Header Template -->

  <app-pagination [source]="grp.pagination">
    <app-accordion-group [headerTemplate]="accordionHeader" singleMode="false" *appPaginationContent>
      <ng-container *ngFor="let conn of (grp.pagination.pageItems$ | async); trackBy: trackByConnection">
        <app-accordion *appExpertiseLevel="conn | connExpertise" [data]="conn" #accordion>
          <app-ungrouped-connection-content [conn]="conn" *ngIf="accordion.active"></app-ungrouped-connection-content>
        </app-accordion>
      </ng-container>
    </app-accordion-group>
  </app-pagination>
</section>
