<!-- Pagination template -->
<ng-template #paginationTpl>
  <div class="pagination" *ngIf="source!.total > 1">
    <button class="outline" [disabled]="currentPageIdx == 1" (click)="source!.prevPage()">
      <fa-icon icon="chevron-left"></fa-icon>
      Previous
    </button>
    <span>
      <button class="page" *ngFor="let page of pageNumbers" [class.active-page]="page === currentPageIdx"
        (click)="source!.openPage(page)">{{ page }}</button>
    </span>
    <button class="outline" [disabled]="currentPageIdx+1 > source!.total" (click)="source!.nextPage()">
      Next
      <fa-icon icon="chevron-right"></fa-icon>
    </button>
  </div>
</ng-template>
<!-- End Pagination Template -->

<ng-container *ngIf="!!content && !!source">
  <ng-container *ngTemplateOutlet="paginationTpl"></ng-container>
  <ng-container *ngTemplateOutlet="content!.templateRef">
  </ng-container>
  <ng-container *ngTemplateOutlet="paginationTpl"></ng-container>
</ng-container>
