<fieldset>
    <form #form="ngForm" (ngSubmit)="createNotification()">
        <div class="input-field">
            <label for="id">ID⭑</label>
            <input required type="text" name="id" [(ngModel)]="id" placeholder="ID">
        </div>

        <div class="input-field">
            <label for="type">Type⭑</label>
            <select required name="type" [(ngModel)]="type">
                <option [value]="0">Info</option>
                <option [value]="1">Warning</option>
                <option [value]="2">Prompt</option>
            </select>
        </div>

        <div class="input-field">
            <label for="message">Message⭑</label>
            <input required type="text" name="message" [(ngModel)]="message" placeholder="Message">
        </div>

        <div class="input-field">
            <label for="persistent">Persistent</label>
            <input type="checkbox" name="persistent" [(ngModel)]="persistent">
        </div>

        <div class="input-field">
            <label for="created">Created</label>
            <input type="datetime" name="created" [(ngModel)]="created" placeholder="Timestamp, 'now' or date">
        </div>
        <div class="input-field">
            <label for="expires">Expires</label>
            <input type="datetime" name="expires" [(ngModel)]="expires" placeholder="Timestamp, 'now' or date">
        </div>
        <div class="input-field">
            <label for="responded">Responded</label>
            <input type="datetime" name="responded" [(ngModel)]="responded" placeholder="Timestamp, 'now' or date">
        </div>
        <div class="input-field">
            <label for="executed">Executed</label>
            <input type="datetime" name="executed" [(ngModel)]="executed" placeholder="Timestamp, 'now' or date">
        </div>

        <div class="buttons">
            <button [disabled]="!form.valid" type="submit">Create</button>
        </div>
    </form>
</fieldset>