<div class="relative flex flex-col justify-center w-full">
  <sfng-netquery-line-chart hideBlocked="true" *ngIf="spnEnabled && !!spnConnChart.length" [@fadeIn] [@fadeOut]
    [data]="spnConnChart" showAxis="false" activeConnectionColor="text-blue"
    activeConnectionAreaColor="text-blue text-opacity-50" class="absolute bottom-0 left-0 right-0 h-16">
  </sfng-netquery-line-chart>

  <div class="relative flex flex-col justify-start gap-1 px-8 py-4">
    <h2 class="p-0 m-0 font-light outline-none cursor-pointer test-base" [routerLink]="['/spn']">SPN</h2>
    <span class="-mt-1 text-xs font-medium text-secondary" [class.text-yellow-300]="spnStatus?.Status !== 'connected'"
      [class.text-red-300]="spnStatus?.Status === 'failed' && !spnLoginRequired" *ngIf="spnLoginRequired">Please log
      into your account</span>

    <ng-container *ngIf="!spnLoginRequired">
      <span [ngSwitch]="spnStatus?.Status" class="-mt-1 text-xs font-medium text-secondary">
        <ng-template ngSwitchCase="disabled">
          Increase privacy protection
        </ng-template>
        <ng-template ngSwitchCase="failed">
          Failed to connect
        </ng-template>
        <ng-template ngSwitchCase="connecting">
          Connecting to the SPN ...
        </ng-template>
        <ng-template ngSwitchCase="connected">
          You're protected
        </ng-template>
      </span>
      <ng-container *ngIf="spnEnabled && !spnLoginRequired">
        <span class="text-secondary text-xxs" *appExpertiseLevel="'developer'">
          Home: <u>{{ spnStatus?.ConnectedIP }}</u> via <u>{{ spnStatus?.ConnectedTransport}}</u>
        </span>
      </ng-container>
    </ng-container>

    <sfng-toggle [ngModel]="spnEnabled" (ngModelChange)="setSPNEnabled($event)"
      *ngIf="profile !== null && profile.state !== ''"></sfng-toggle>

    <div *ngIf="profile === null || profile.state === ''">
      <button class="px-3 py-1.5 uppercase rounded outline-none text-xxs custom bg-blue hover:bg-blue bg-opacity-70"
        (click)="openOrLogin()">
        Upgrade
      </button>
    </div>
  </div>
  <div class="relative flex flex-col items-end justify-end flex-grow pb-4" *ngIf="spnEnabled && !spnLoginRequired">
    <div class="flex flex-col items-center">
      <span class="-mb-1 leading-3 uppercase text-xxs text-secondary">Identities</span>
      <span class="text-lg text-primary">{{ identities }}</span>
    </div>
  </div>
</div>
