<ng-container *ngIf="!!setting">
  <ng-container [ngSwitch]="_type">
    <ng-container *ngSwitchCase="'string'">

      <app-dropdown *ngIf="externalOptType(setting) === optionHints.OneOf; else: simpleTextInput" [ngModel]="_value"
        (ngModelChange)="setInternalValue($event)" [disabled]="_disabled" (blur)="_onTouch()">
        <ng-container *ngFor="let opt of parseSupportedValues(setting)">
          <app-dropdown-item *dropDownValue="opt">{{opt}}</app-dropdown-item>
        </ng-container>
      </app-dropdown>

      <ng-template #simpleTextInput>
        <input type="text" [ngModel]="_value" (ngModelChange)="setInternalValue($event)" [disabled]="_disabled"
          (blur)="_onTouch()">
      </ng-template>

    </ng-container>

    <input *ngSwitchCase="'number'" type="number" [ngModel]="_value" (ngModelChange)="setInternalValue($event)"
      [disabled]="_disabled" (blur)="_onTouch()">

    <ng-container *ngSwitchCase="'boolean'">
      <app-toggle-switch id="check-{{setting.Key}}" name="check" [ngModel]="_value"
        (ngModelChange)="setInternalValue($event)" [disabled]="_disabled" (blur)="_onTouch()"></app-toggle-switch>
    </ng-container>

    <textarea *ngSwitchDefault [attr.rows]="lineCount(_value)" [ngModel]="_value"
      (ngModelChange)="setInternalValue($event)" [disabled]="_disabled" (blur)="_onTouch()">
        </textarea>

  </ng-container>
</ng-container>
