@keyframes pulse-color {
  100% {
    filter: drop-shadow(0px 0px 5px var(--lock-color), .2);
  }

  0% {
    filter: drop-shadow(0px 0px 5px var(--lock-color), 1);
  }
}

@keyframes pulse-fill {
  100% {
    fill   : var(--lock-color);
    opacity: 1;
  }

  0% {
    fill   : var(--lock-color);
    opacity: .7;
  }
}

:host {
  overflow       : visible;
  position       : relative;
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  background     : none;

  svg.lock {
    position: relative;
    width   : 5.5rem;
    @apply stroke-current;
    transition: all ease-in-out .5s;

    &.low {
      --lock-color: var(--protection-primary);

      .outer-line {
        color: var(--protection-tertiary);
      }

      .inner-line {
        color: var(--protection-secondary);
      }
    }

    &.medium {
      --lock-color: var(--info-yellow);

      // TODO(luke): need protection lock colors for yellow
      .outer-line {
        color  : var(--info-yellow);
        opacity: 0.2;
      }

      .inner-line {
        color  : var(--info-yellow);
        opacity: 0.4;
      }
    }

    &.high {
      --lock-color: var(--info-red);

      // TODO(luke): need proteciton lock colors for red
      .outer-line {
        color  : var(--info-red);
        opacity: 0.2;
      }

      .inner-line {
        color  : var(--info-red);
        opacity: 0.4;
      }
    }


    .inner-line {
      animation: pulse-fill 1s ease-in-out infinite alternate;
    }

    path.locker {
      color: theme('colors.background');
    }
  }

  .status {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
    @apply mr-2;
    @apply p-1;
    position: relative;

    h2 {
      padding: 0;
      margin : 0;
      @apply text-sm;
    }
  }

  .level-list {
    flex-grow: 1;

    div.rate-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:not(.auto-pilot) {
      div.level.selected{
        div {
          @apply bg-buttons-light
        }
        &:after {
          transition: none;
          opacity: 0 !important;
        }
      }

    }
    
    div.level {
      position: relative;
      padding : 2px;
      @apply mt-1;
      cursor  : pointer;
      overflow: hidden;
      z-index : 1;

      &:after {
        transition: all cubic-bezier(0.19, 1, 0.82, 1) .3s;
        @apply rounded;
        content           : "";
        background-image  : linear-gradient(90deg, #1d5fa0 19%, rgba(2, 0, 36, 0) 80%);
        transform         : translateX(100%);
        position          : absolute;
        top               : 0;
        left              : 0;
        right             : 0;
        bottom            : 0;
        z-index           : -1;
        //opacity         : 0;
      }

      div {
        @apply rounded;
        @apply font-medium;
        @apply p-2;
        @apply pl-4;
        @apply bg-cards-primary;
      }
      

      &.selected, &.suggested {
        &:after {
          transform: translateX(0%);
          opacity  : 1;
        }
      }

      &.suggested {
        &:after {
          animation: pulse-opacity 1s ease-in-out infinite alternate; 
        }
      }

      &:active {
        div {
          @apply shadow-inner;
          @apply bg-cards-secondary;
        }
      }

    }
  }

  @apply pb-5;
}

@keyframes pulse-opacity {
  0% {
    opacity: 0.1;
  }
  
  100% {
    opacity: 1;
  }
}