@keyframes pulse-color {
  100% {
    filter: drop-shadow(0px 0px 5px var(--lock-color), .2);
  }

  0% {
    filter: drop-shadow(0px 0px 5px var(--lock-color), 1);
  }
}

@keyframes pulse-fill {
  100% {
    fill   : var(--lock-color);
    opacity: 1;
  }

  0% {
    fill   : var(--lock-color);
    opacity: .7;
  }
}

@keyframes shield-pulse {
  0% {
    transform: scale(.62);
    opacity  : 1;
  }

  100% {
    transform: scale(1.1);
    opacity  : 0;
  }
}

:host {
  overflow       : visible;
  position       : relative;
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  background     : none;

  @apply pb-5;

  svg.shield {
    margin-top: -3.5rem;
    width     : 9rem;

    path {
      top             : 0px;
      left            : 0px;
      transform-origin: center center;
    }

    .shield-tick {
      stroke   : var(--background);
      fill     : none;
      transform: scale(.5);
    }

    &.low {
      .shield-one {
        fill     : var(--protection-primary);
        transform: scale(.62);
      }

      .shield-three,
      .shield-two {
        animation: shield-pulse 3s linear infinite;
      }

      .shield-two {
        fill           : var(--protection-secondary);
        animation-delay: 1.2s;
      }

      .shield-three {
        fill           : var(--protection-tertiary);
        animation-delay: 2.5s;
      }
    }

  }

  svg.lock {
    position: relative;
    width   : 8.5rem;
    @apply stroke-current;
    transition: all ease-in-out .5s;

    &.low {
      --lock-color  : var(--protection-ok-primary);
      --lock-color-2: var(--protection-ok-secondary);
      --lock-color-3: var(--protection-ok-tertiary);
    }

    &.medium {
      --lock-color  : var(--protection-warn-primary);
      --lock-color-2: var(--protection-warn-secondary);
      --lock-color-3: var(--protection-warn-tertiary);
    }

    &.high {
      --lock-color  : var(--protection-fail-primary);
      --lock-color-2: var(--protection-fail-secondary);
      --lock-color-3: var(--protection-fail-tertiary);
    }

    .outer-line {
      fill     : var(--lock-color-3);
      stroke   : var(--lock-color-3);
      animation: pulse-fill 1.3s linear infinite alternate;
    }

    .inner-line {
      fill     : var(--lock-color-2);
      stroke   : var(--lock-color-2);
      animation: pulse-fill 1.3s linear infinite alternate;
    }

    .innest-line {
      stroke   : var(--lock-color-2);
      fill     : var(--lock-color);
      animation: pulse-fill 1.3s linear infinite alternate;
    }

    path.locker {
      color: theme('colors.background');
    }
  }

  .status {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
    @apply mr-2;
    @apply p-1;
    position  : relative;
    margin-top: 2.25rem;

    h2 {
      padding   : 0;
      margin    : 0;
      margin-top: -0.85rem;
      font-size : 1.3rem;
    }

    span {
      padding-top: 0.15rem;
      margin     : 0;
      opacity    : .4;
      font-size  : 0.85rem;
      font-weight: 400;
    }

  }

  .level-list {
    flex-grow: 1;

    label {
      font-size  : 0.9rem;
      font-weight: 400;
    }

    div.rate-header {
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      padding        : 0 0 0.21rem 0;
    }

    &:not(.auto-pilot) {
      div.level.selected {
        div {
          @apply bg-buttons-light
        }

        &:after {
          transition: none;
          opacity   : 0 !important;
        }
      }
    }

    div.level {
      position  : relative;
      padding   : 2px;
      margin-top: 0.2rem;
      cursor    : pointer;
      overflow  : hidden;
      z-index   : 1;

      &:after {
        transition: all cubic-bezier(0.19, 1, 0.82, 1) .3s;
        @apply rounded;
        content         : "";
        background-image: linear-gradient(90deg, #1d5fa0 19%, rgba(2, 0, 36, 0) 80%);
        transform       : translateX(100%);
        position        : absolute;
        top             : 0;
        left            : 0;
        right           : 0;
        bottom          : 0;
        z-index         : -1;
        opacity         : 0;
      }

      div {
        @apply font-medium;
        @apply bg-cards-primary;

        border-radius: 2.5px;
        padding      : 12px 20px 12px 25px;
        display      : block;

        span {
          font-size  : 0.8rem;
          font-weight: 500;
        }

        .help {
          @apply text-tertiary;
          @apply ml-2;

          font-size  : 0.7rem;
          font-weight: 500;
        }

        svg.help {
          width  : 1.05rem;
          float  : right;
          padding: 0;
          margin : 0;

          .inner {
            stroke: var(--text-secondary);
          }

          &:hover,
          &:active {
            .inner {
              stroke: var(--text-primary);
            }
          }
        }

      }

      &.selected,
      &.suggested {
        &:after {
          transform: translateX(0%);
          opacity  : 1;
        }
      }

      &.suggested {
        &:after {
          animation: pulse-opacity 1s ease-in-out infinite alternate;
        }
      }

      &:hover,
      &:active {
        div {
          @apply bg-cards-secondary;
        }
      }

    }
  }

}



@keyframes pulse-opacity {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse-fill {
  100% {
    opacity: 1;
  }

  0% {
    opacity: .2;
  }
}
