:host {
  overflow       : visible;
  position       : relative;
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  background     : none;

  @apply pb-4;
  
  svg.shield {
    margin-top: -5.5rem;
    width     : 6.6rem;

    transform: scale(0.95);

    path {
      top             : 0px;
      left            : 0px;
      transform-origin: center center;
    }

    /* TODO(LukeSeers): Refactor low, medium and high at a later date. */

    &.low {
      .shield-one {
        fill: var(--protection-ok-primary);
        transform: scale(.62);
      }

      .shield-three,
      .shield-two {
        animation: shield-pulse 3s linear infinite;
      }

      .shield-two {
        fill: var(--protection-ok-secondary);
        animation-delay: -1.2s;
      }

      .shield-three {
        fill: var(--protection-ok-tertiary);
        animation-delay: -2.5s;
      }

      .shield-warn,
      .shield-fail{
        display: none;
      }

      .shield-ok{
        stroke   : var(--background);
        fill     : none;
        transform: scale(.5);
      }

    }

    &.medium {
      .shield-one {
        fill: var(--protection-warn-primary);
        transform: scale(.62);
      }

      .shield-three,
      .shield-two {
        animation: shield-pulse 3s linear infinite;
      }

      .shield-two {
        fill: var(--protection-warn-secondary);
        animation-delay: -1.2s;
      }

      .shield-three {
        fill: var(--protection-warn-tertiary);
        animation-delay: -2.5s;
      }

      .shield-ok,
      .shield-fail{
        display: none;
      }

      .shield-warn {
        stroke   : var(--background);
        fill     : none;
        transform: scale(.5);
      }

    }

    &.high {
      .shield-one {
        fill: var(--protection-fail-primary);
        transform: scale(.62);
      }

      .shield-three,
      .shield-two {
        animation: shield-pulse 3s linear infinite reverse;
      }

      .shield-two {
        fill: var(--protection-fail-secondary);
        animation-delay: -1.2s;
      }

      .shield-three {
        fill: var(--protection-fail-tertiary);
        animation-delay: -2.5s;
      }

      .shield-warn,
      .shield-ok{
        display: none;
      }

      .shield-fail{
        stroke   : var(--background);
        fill     : none;
        transform: scale(.45);
      }

    }
  }

  .status {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
    @apply mr-2;
    position  : relative;
    margin-top: 2.25rem;
    

    h2 {
      padding   : 0;
      margin    : 0;
      margin-top: -0.85rem;
      font-size : 0.87rem;
      font-weight: 500;
      letter-spacing: 1px;
    }

    span {
      padding-top: 0.15rem;
      margin     : 0;
      opacity    : .4;
      font-size  : 0.65rem;
      font-weight: 400;
    }

  }

  .level-list {
    flex-grow: 1;

    label {
      font-size  : 0.68rem;
      font-weight: 400;
    }

    div.rate-header {
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      padding        : 0 0 0.5rem 0;

      .auto-detect {
        height: 5px;
        width: 5px;
        margin-right: 10px;
        margin-bottom: 1px;
        background-color:  #4995f3;
        border-radius: 50%;
        display: inline-block;
      }
      
    }

    &:not(.auto-pilot) {
      div.level.selected {
        div {
          @apply bg-cards-primary;
        }

        &:after {
          transition: none;
          opacity   : 0 !important;
        }

      }
    }

    div.level {
      position  : relative;
      padding   : 2px;
      margin-top: 0.1rem;
      cursor    : pointer;
      overflow  : hidden;
      z-index   : 1;


      &:after {
        transition: all cubic-bezier(0.19, 1, 0.82, 1) .3s;
        @apply rounded;
        content         : "";
        background-image: linear-gradient(90deg, #1d5fa0 5%, rgba(2, 0, 36, 0) 60%);
        transform       : translateX(100%);
        position        : absolute;
        top             : 0;
        left            : 0;
        right           : 0;
        bottom          : 0;
        z-index         : -1;
        opacity         : 0;
      }
      
      div {
        @apply bg-cards-secondary;

        border-radius: 3px;
        padding      : 8px 17px 8px 18px;
        display      : block;
        opacity: 0.5;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;

        span {
          font-size  : 0.68rem;
          font-weight: 300;
        }

        .situation {
          @apply text-tertiary;
          @apply ml-2;

          font-size  : 0.55rem;
          font-weight: 500;
        }

        svg.help {
          width: 0.95rem;
          float  : right;
          padding: 0;
          margin : 0;
          margin-top: 1.5px;

          .inner {
            stroke: var(--text-secondary);
          }

          &:hover,
          &:active {
            .inner {
              stroke: var(--text-primary);
            }
          }

        }
      }

      &.selected{
        div {
          @apply bg-cards-primary;
          opacity: 1;
        }
      }

      &.selected,
      &.suggested {
        &:after {
          transform: translateX(0%);
          opacity  : 1;
        }
      }

      &.suggested {
        &:after {
          animation: pulse-opacity 1s ease-in-out infinite alternate;
        }
      }

      &:hover,
      &:active {
        div {
          @apply bg-cards-primary;

          opacity: 1;
        }
      }
    }
  }

  @keyframes shield-pulse {
    0% {
      transform: scale(.62);
      opacity  : 1;
    }
  
    100% {
      transform: scale(1.1);
      opacity  : 0;
    }
  }
  
  @keyframes pulse-opacity {
    0% {
      opacity: 0.1;
    }
  
    100% {
      opacity: 1;
    }
  }

}