<div class="relative status">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="shield {{lockLevel?.class}}">
    <path class="shield-three" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"
      d="M20 11.242c0 4.368-3.157 8.462-7.48 9.686-.338.096-.702.096-1.04 0C7.157 19.705 4 15.61 4 11.242V7.214c0-.812.491-1.544 1.243-1.851l4.864-1.99c1.214-.497 2.574-.497 3.787 0l4.864 1.99C19.509 5.67 20 6.402 20 7.214v4.028z" />
    <path class="shield-two" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"
      d="M20 11.242c0 4.368-3.157 8.462-7.48 9.686-.338.096-.702.096-1.04 0C7.157 19.705 4 15.61 4 11.242V7.214c0-.812.491-1.544 1.243-1.851l4.864-1.99c1.214-.497 2.574-.497 3.787 0l4.864 1.99C19.509 5.67 20 6.402 20 7.214v4.028z" />
    <path class="shield-one" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"
      d="M20 11.242c0 4.368-3.157 8.462-7.48 9.686-.338.096-.702.096-1.04 0C7.157 19.705 4 15.61 4 11.242V7.214c0-.812.491-1.544 1.243-1.851l4.864-1.99c1.214-.497 2.574-.497 3.787 0l4.864 1.99C19.509 5.67 20 6.402 20 7.214v4.028z" />
    <path class="shield-ok" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
      d="M8.712 12.566l2.193 2.193 4.787-4.788" />
    <path class="shield-warn" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
      d="M12 11V7.75M12 14.63a.16.16 0 10.16.16.16.16 0 00-.16-.16" transform="translate(-11.09 -7)" />
    <path class="shield-fail" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6"
      d="M14.83 9.17l-5.66 5.66M14.83 14.83L9.17 9.17" />

  </svg>
  <ng-container *ngIf="(spnStatus$ | async) as status">
    <span *ngIf="status.Status !== 'disabled'" routerLink="/settings" class="outline-none cursor-pointer"
      [queryParams]="{setting: 'spn/enable'}" class="spn-status {{ status.Status }} w-10 h-10">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-full h-full">
        <g fill="none" stroke="#ffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
          <path
            d="M19.583 4.406c.66.659.66 1.728 0 2.387s-1.729.659-2.389 0c-.66-.659-.66-1.728 0-2.387s1.729-.659 2.389 0M4.431 19.594c-.66-.659-.66-1.728 0-2.387s1.729-.659 2.389 0c.66.659.66 1.728 0 2.387s-1.73.659-2.389 0" />
          <path
            d="M6.941 19.448c3.506 2.382 8.318 2.024 11.427-1.082 1.759-1.758 2.639-4.062 2.639-6.366 0-.532-.032-1.063-.126-1.588M3.133 13.588c-.094-.525-.126-1.056-.126-1.588 0-2.304.88-4.608 2.639-6.366 3.108-3.106 7.921-3.464 11.427-1.082" />
          <path
            d="M12 15.75s3-1.439 3-3.597V9.679l-2.188-.787c-.526-.189-1.1-.189-1.626 0L9 9.679v2.474c0 2.158 3 3.597 3 3.597Z" />
        </g>
      </svg>
    </span>
  </ng-container>
  <h2>{{lockLevel?.displayText}}</h2>
  <span *ngIf="!!lockLevel?.class && lockLevel!.class !== 'low'" class="info-text {{lockLevel?.class}}">
    See Notifications
  </span>
</div>

<div tipUpAnchor class="level-list" [class.auto-pilot]="mode === 'auto'" *ngIf="networkRatingEnabled$ | async">
  <div class="rate-header">
    <label style="white-space: nowrap; margin-right: 5px; opacity: 0.9; display: flex; width: 100%;">
      Network Rating
      <sfng-tipup style="margin-left: 0.5rem; align-items: center;display: flex;" key="pilot-widget-NetworkRating">
      </sfng-tipup>
    </label>
    <sfng-select *appExpertiseLevel="'developer'" [ngModel]="mode" (ngModelChange)="updateMode($event)">
      <sfng-select-item *sfngSelectValue="'auto'">
        <span class="auto-detect low"></span>
        <span>Auto Detect</span>
      </sfng-select-item>
      <sfng-select-item *sfngSelectValue="'manual'">
        <span class="off"></span>
        <span>Manual</span>
      </sfng-select-item>
    </sfng-select>
  </div>

  <ng-container *ngFor="let opt of options">
    <div tipUpAnchor class="level" [class.selected]="activeLevel == opt.level"
      [class.suggested]="suggestedLevel === opt.level && suggestedLevel > activeLevel" (click)="selectLevel(opt.level)">
      <div style="display: flex;align-items: center;">
        <span>
          {{opt.displayText}}
        </span>
        <span class="situation">
          {{opt.subText || ''}}
        </span>
        <sfng-tipup style="margin-left: auto;" [key]="'pilot-widget-NetworkRating-' + opt.displayText"></sfng-tipup>
      </div>
    </div>
  </ng-container>
</div>
