:host {
  @apply w-full flex-grow gap-4 grid justify-start items-center overflow-hidden;
  grid-template-columns:
    2fr 4rem 1fr 1fr 8rem 2fr 2rem;
  ;
  grid-auto-rows: 1.5rem;
  grid-template-rows: none;

  &>* {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
  }

  --app-icon-size: 20px;
}
