.item-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  @apply bg-gray-500;
  @apply shadow-xl;
  user-select: none;

  app-menu-item,
  app-menu-group {
    display: block;
    width: 100%;
  }

  app-menu-item {
    cursor: pointer;
    @apply p-2;
    @apply px-4 text-primary text-xxs;
    font-weight: 500;

    &:hover {
      @apply bg-gray-300;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  app-menu-group {
    @apply p-1;
    @apply px-4;
    display: block;
    text-transform: uppercase;
    @apply text-secondary;
    font-size: 0.7rem;
    opacity: .7;
  }
}
