div {
  cursor : pointer;
  display: flex;
  @apply rounded-t;
  flex-grow : 0;
  width     : 1rem;
  transition: all .1s ease-in-out;

  justify-content: center;
  align-items    : center;

  @apply py-1;
  @apply px-3;
}

:host.active {
  div {
    @apply bg-buttons-light;
  }
}
