.card-header {
  @apply py-0;
  height: 2rem;

  fa-icon.chevron {
    font-size: 0.6rem;
    position : relative;
    @apply text-secondary;
    top      : -2px;
    transform: rotate(-180deg);

    transition: all ease-in-out .3s;

  }

  &.active {
    fa-icon.chevron {
      transform: rotate(0deg);
      top      : 0px;
    }
  }

  .card-title .subdomain {
    @apply text-secondary;
  }
}

.meta {
  display        : flex;
  justify-content: space-between;

  h4 {
    @apply mt-4;
  }

  &>div {
    flex-grow: 0.9;

    &>span {
      @apply my-1;
      display: block;
      @apply text-xs;
      @apply font-medium;

      span:first-of-type {
        @apply text-tertiary;
        @apply font-normal;
        @apply mr-1;
      }

      span:last-of-type {
        @apply text-primary;
      }

    }
  }
}

div.tableFixHead {
  @apply rounded-t;

  &:not(.empty) {
    @apply rounded;
  }

  max-height: 16rem;
}

h4 {
  @apply my-2;
}

fa-icon[icon="spinner"] {
  @apply mr-1;
}

fa-icon[icon="cog"] {
  cursor: pointer;

  &:hover {
    color: theme("colors.buttons.icon");
  }
}

table {
  width: 100%;

  th,
  tr,
  td {
    @apply text-xs;
  }

  tr.ended {
    opacity: 0.5;
  }

  th {
    text-align: left;
    @apply text-secondary;
    z-index: 1;
  }

  td,
  th {
    @apply p-2;
    @apply font-medium;
  }

  tr:nth-child(even) {
    @apply bg-cards-secondary;
    --bg-opacity: 0.5;
  }

  tr:nth-child(odd) {
    @apply bg-cards-tertiary;
    --bg-opacity: 0.6;
  }

  .cdk-column {
    &-state {
      width: 3rem;
    }

    &-entity {
      width    : 20%;
      min-width: 150px;
    }

    &-started,
    &-ended {
      width: 5rem
    }

    &-actions {
      width: 1rem;
    }
  }

  .cdk-column-state,
  .cdk-column-ended,
  .cdk-column-started {
    text-align: center;
  }

  tr.cdk-header-row th {
    @apply bg-cards-tertiary;
    --bg-opacity: 1;

    // we cannot use borders directly due to
    // the sticky header. Use a box-shadow to
    // simulate a border.
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
  }
}

table.waiting-connections {
  opacity: 0.5;

  td {
    text-align: center;
  }
}

.tableFixHead {
  @apply mb-4;

  &~table {
    margin-top: calc(-1rem + 2px);

    td {
      @apply rounded-b;
    }
  }
}

span.port {
  font-size: 0.95em;
  @apply text-secondary;
}
