.card-header {
  @apply py-0;
  height       : 2rem;
  padding-right: 0;

  svg.arrow {
    width     : 1rem;
    padding   : 0;
    margin    : 0;
    transform : rotate(90deg);
    transition: all ease-in-out .3s;

    .inner {
      stroke: white;
    }
  }

  &.active {
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;

    svg.arrow {
      transform: rotate(-90deg);
    }
  }

  .card-title {
    padding-left: 1rem;

    .subdomain {
      opacity: .58;
    }
  }

  .card-title .subdomain {
    @apply text-secondary;
  }

  .spacer {
    margin-right: 1rem;
  }
}

h3 {
  font-size    : 0.7rem;
  font-weight  : 500;
  margin-top   : 13px;
  margin-bottom: 9px;
  color        : #cacaca;
  user-select  : none;
  opacity      : 0.45;
}

.card-content {
  padding-top : 1rem;
  padding-left: 1.35rem;
}

.meta {
  display        : flex;
  justify-content: space-between;

  h4 {
    @apply mt-4;
  }

  &>div {
    flex-grow: 0.9;
    min-width: 30%;

    &>span {
      @apply my-1;
      display    : block;
      font-size  : 0.7rem;
      font-weight: 500;

      .subdomain {
        opacity: .58;
      }

      span:first-of-type {
        opacity     : 0.25;
        margin-right: 8px;
        user-select : none;
      }

      span:last-of-type {
        color: #cacaca;
      }
    }
  }
}

div.tableFixHead {
  @apply rounded-t;
  max-height: 16rem;

  &:not(.empty) {
    @apply rounded;
  }
}

h4 {
  @apply my-2;
}

fa-icon[icon="spinner"] {
  @apply mr-1;
}

svg.cog,
svg.copy {
  width          : 14px;
  padding        : 0;
  margin         : 0;
  display        : inline-flex;
  align-items    : center;
  justify-content: center;
  cursor         : pointer;
  transition     : all .15s ease-in-out;

  g {
    stroke: white;
  }

  &:not(:first-of-type) {
    @apply ml-1;
  }
}

svg.cog {
  opacity: 1;

  &:hover {
    opacity: .55;
  }
}

svg.copy {
  opacity: .55;

  &:hover {
    opacity: 1;
  }
}

table {
  tr.ended {
    opacity: 0.5;
  }

  .cdk-column {
    &-state {
      width     : 3rem;
      text-align: center;
    }

    &-entity {
      width      : 20%;
      min-width  : 150px;
      white-space: nowrap;
    }

    &-started,
    &-ended {
      width     : 5rem;
      text-align: center;
    }

    &-actions {
      width: 3rem;
    }
  }
}

table.waiting-connections {
  opacity: 0.5;

  td {
    text-align: center;
  }
}

.tableFixHead {
  @apply mb-4;

  &~table {
    margin-top: calc(-1rem + 2px);

    td {
      @apply rounded-b;
    }
  }
}

.port {
  font-size: 0.95em;
  @apply text-secondary;
}
