.accordion-header {
  display    : flex;
  align-items: center;

  cursor         : pointer;
  outline        : none;
  justify-content: space-between;

  @apply text-xs;
  @apply font-medium;
  @apply bg-gray-500;
  @apply p-2;
  @apply px-3;
  @apply rounded;
  @apply mb-2;

  &.active {
    @apply bg-gray-300;
    --bg-opacity: 0.4;
    @apply mb-0;
    @apply rounded-none;
    @apply rounded-t;
  }

  &:hover {
    @apply bg-gray-400;
  }

  &:active {
    @apply shadow-inner;
  }

  fa-icon.chevron {
    font-size: 0.6rem;
    position : relative;
    @apply text-gray-200;
    --text-opacity: 0.7;
    top           : -2px;
    transform     : rotate(-180deg);

    transition: all ease-in-out .3s;

  }

  &.active {
    fa-icon.chevron {
      transform: rotate(0deg);
      top      : 0px;
    }
  }

  &>*:not(:last-child) {
    @apply mr-1;
  }

  span.scope-name {
    flex-grow: 1;
    @apply ml-2;

    .subdomain {
      @apply text-gray-200;
      --text-opacity: 0.5;
    }
  }

  .buttons {
    @apply mr-2;

    span {
      display   : inline-block;
      text-align: center;

      min-width: 5rem;
      @apply px-2;
      @apply rounded;
      @apply text-xs;

      padding: {
        top   : 0.1rem;
        bottom: 0.1rem;
      }

      &.selected {
        @apply bg-gray-300;
      }

      &:hover {
        @apply bg-gray-600;
      }
    }
  }
}

section.connection {
  @apply bg-gray-300;
  --bg-opacity: 0.2;
  @apply rounded-b;

  @apply p-4;
  @apply mb-2;
}

.meta {
  display        : flex;
  justify-content: space-between;

  &>div {
    flex-grow: 0.9;

    &>span {
      @apply my-1;
      display: block;
      @apply text-xs;
      @apply font-medium;

      span:first-of-type {
        @apply font-normal;
        @apply text-gray-200;
        @apply mr-1;
        --text-opacity: 0.6;
      }

    }
  }
}

div.tableFixHead {
  @apply rounded;
  max-height: 16rem;
}

table {
  width: 100%;

  th,
  tr,
  td {
    @apply text-xs;
  }

  th {
    text-align: left;
    @apply text-gray-200;
    --text-opacity: 0.8;
    z-index       : 1;
  }

  td,
  th {
    @apply p-2;
    @apply font-medium;
  }

  tr:nth-child(even) {
    @apply bg-gray-300;
    --bg-opacity: 0.5;
  }

  tr:nth-child(odd) {
    @apply bg-gray-500;
    --bg-opacity: 0.6;
  }

  .cdk-column-state {
    text-align: center;

    span.trust-level:before {
      left: -3px;
    }
  }

  tr.cdk-header-row th {
    @apply bg-gray-400;
    --bg-opacity: 1;

    // we cannot use borders directly due to
    // the sticky header. Use a box-shadow to
    // simulate a border.
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
  }
}
