<ng-template #accordionHeader let-data let-active="active">
  <div class="accordion-header" [class.active]="active">
    <fa-icon icon="chevron-down" class="chevron"></fa-icon>
    <span class="scope-name">
      <ng-container *ngIf="!data.domain; else: domainView">
        {{ scopeTranslation[data?.scope] || 'N/A' }}
      </ng-container>
      <ng-template #domainView>
        <span *ngIf="!!data.subdomain" class="subdomain">{{data.subdomain}}.</span>{{data.domain}}
      </ng-template>
    </span>

    <span class="buttons">
      <span class="selected">Auto</span>
      <span>Block All</span>
    </span>

    <app-count-indicator [count]="data.connections.length" [risk]="data.blockStatus"></app-count-indicator>
  </div>
</ng-template>

<app-accordion-group [headerTemplate]="accordionHeader" singleMode="true">
  <app-accordion *ngFor="let grp of (groups | keyvalue)" [data]="grp.value">
    <section class="connection">
      <div class="meta">
        <div>
          <span *ngIf="grp.value.domain">
            <span>Domain:</span>
            <span>{{grp.value.domain}}</span>
          </span>

          <span *ngIf="!grp.value.domain">
            <span>Scope:</span>
            <span>{{ scopeTranslation[grp.value.scope] }}</span>
          </span>

          <span *ngIf="!grp.value.connections[0]?.ProcessContext?.ProfileID">
            <span>Profile:</span>
            <span>{{grp.value.connections[0]!.ProcessContext!.ProfileID}}</span>
          </span>

          <span>
            <span>Most recent:</span>
            <span>{{grp.value.lastConn * 1000 | date:'medium'}}</span>
          </span>
        </div>

        <div>
          <span>
            <span># Total:</span>
            <span>{{grp.value.connections?.length}}</span>
          </span>

          <span>
            <span># Encrypted:</span>
            <span>{{100 / grp.value.connections!.length * grp.value.countEncrypted}}%</span>
          </span>

          <span *ngIf="!!grp.value.countDNS">
            <span># DNS Requests: </span>
            <span>{{100 / grp.value.connections!.length * grp.value.countDNS}}%</span>
          </span>

          <span *ngIf="!!grp.value.countTCP">
            <span># TCP: </span>
            <span>{{100 / grp.value.connections!.length * grp.value.countTCP}}%</span>
          </span>

          <span *ngIf="!!grp.value.countUDP">
            <span># UDP: </span>
            <span>{{100 / grp.value.connections!.length * grp.value.countUDP}}%</span>
          </span>
        </div>

        <div>
          <span *ngIf="!!grp.value.distinctIPs?.size">
            <span># IPs:</span>
            <span>{{grp.value.distinctIPs?.size}}</span>
          </span>

          <span *ngIf="!!grp.value.distinctCountries?.size">
            <span># Countries:</span>
            <span>{{grp.value.distinctCountries?.size}}</span>
          </span>

          <span *ngIf="!!grp.value.distinctASNs?.size">
            <span># ASNs:</span>
            <span>{{grp.value.distinctASNs?.size}}</span>
          </span>
        </div>
      </div>

      <h4>Connections / DNS Requests</h4>

      <div class="tableFixHead">
        <table cdk-table [dataSource]="grp.value.connections">
          <!-- State Column -->
          <ng-container cdkColumnDef="state">
            <th cdk-header-cell *cdkHeaderCellDef> State </th>
            <td cdk-cell *cdkCellDef="let conn">
              <span class="trust-level {{ conn.Verdict === verdict.Accept ? 'low' : 'high' }}"></span>
            </td>
          </ng-container>

          <!-- Reason Column -->
          <ng-container cdkColumnDef="reason">
            <th cdk-header-cell *cdkHeaderCellDef> Reason </th>
            <td cdk-cell *cdkCellDef="let conn"> {{conn.Reason}} </td>
          </ng-container>

          <!-- Entity Column -->
          <ng-container cdkColumnDef="entity">
            <th cdk-header-cell *cdkHeaderCellDef> Entity </th>
            <td cdk-cell *cdkCellDef="let conn">
              <span *ngIf="!!conn.Entity?.Country" [appCountryFlags]="conn.Entity!.Country"></span>
              {{ conn.Entity?.IP || 'DNS Request'}}
            </td>
          </ng-container>

          <!-- Started Column -->
          <ng-container cdkColumnDef="started">
            <th cdk-header-cell *cdkHeaderCellDef> Started </th>
            <td cdk-cell *cdkCellDef="let conn"> {{conn.Started * 1000 | date:'shortTime'}} </td>
          </ng-container>

          <!-- Ended Column -->
          <ng-container cdkColumnDef="ended">
            <th cdk-header-cell *cdkHeaderCellDef> Ended </th>
            <td cdk-cell *cdkCellDef="let conn"> {{conn.Ended * 1000 | date:'shortTime'}} </td>
          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </section>
  </app-accordion>
</app-accordion-group>
