<ng-template #accordionHeader let-data let-active="active">
  <div class="accordion-header" [class.active]="active">
    <fa-icon icon="chevron-down" class="chevron"></fa-icon>
    <span class="scope-name">
      <ng-container *ngIf="!data.domain; else: domainView">
        {{ scopeTranslation[data?.scope] || 'N/A' }}
      </ng-container>
      <ng-template #domainView>
        <span *ngIf="!!data.subdomain" class="subdomain">{{data.subdomain}}.</span>{{data.domain}}
      </ng-template>
    </span>

    <span class="buttons" *ngIf="!!data.domain">
      <span [class.selected]="!isScopeBlocked(data)" (click)="unblockAll($event, data)">Auto</span>
      <span [class.selected]="isScopeBlocked(data)" (click)="blockAll($event, data)">Block All</span>
    </span>

    <app-count-indicator [count]="data.size" [risk]="data.blockStatus"></app-count-indicator>
  </div>
</ng-template>

<app-accordion-group [headerTemplate]="accordionHeader" singleMode="false">
  <app-accordion *ngFor="let grp of (connections!.scopeGroups | async); trackBy: trackByScope" [data]="grp">
    <section class="connection">
      <div class="meta">
        <div>
          <span *ngIf="grp.domain">
            <span>Domain:</span>
            <span>{{grp.scope}}</span>
          </span>

          <span *ngIf="!grp.domain">
            <span>Scope:</span>
            <span>{{ scopeTranslation[grp.scope] }}</span>
          </span>

          <!--
          <span *ngIf="!grp.connections[0]?.ProcessContext?.ProfileID">
            <span>Profile:</span>
            <span>{{grp.connections[0]!.ProcessContext!.ProfileID}}</span>
          </span>
        -->

          <span>
            <span>Most recent:</span>
            <span>
              {{ (grp.stats.lastConn || grp.stats.firstConn) * 1000 | date:'medium'}}</span>
          </span>
        </div>

        <div>
          <span>
            <span>Connections:</span>
            <span>{{grp.size}}</span>
          </span>

          <span>
            <span>Encrypted:</span>
            <span>{{100 / grp.size * grp.stats.countEncrypted | number:'1.0-2'}}%</span>
          </span>

          <span *ngIf="!!grp.stats.countDNS">
            <span>DNS Requests: </span>
            <span>{{100 / grp.size * grp.stats.countDNS | number:'1.0-2'}}%</span>
          </span>

          <span *ngIf="!!grp.stats.countTCP">
            <span>TCP: </span>
            <span>{{100 / grp.size * grp.stats.countTCP | number:'1.0-2'}}%</span>
          </span>

          <span *ngIf="!!grp.stats.countUDP">
            <span>UDP: </span>
            <span>{{100 / grp.size * grp.stats.countUDP | number:'1.0-2'}}%</span>
          </span>
        </div>

        <div>
          <span *ngIf="!!grp.stats.distinctIPs?.size">
            <span>IPs:</span>
            <span>{{grp.stats.distinctIPs?.size}}</span>
          </span>

          <span *ngIf="!!grp.stats.distinctCountries?.size">
            <span>Countries:</span>
            <span>{{grp.stats.distinctCountries?.size}}</span>
          </span>

          <span *ngIf="!!grp.stats.distinctASNs?.size">
            <span>ASNs:</span>
            <span>{{grp.stats.distinctASNs?.size}}</span>
          </span>
        </div>
      </div>

      <h4>Connections / DNS Requests</h4>

      <div class="tableFixHead">
        <table cdk-table [dataSource]="grp.connections">
          <!-- State Column -->
          <ng-container cdkColumnDef="state">
            <th cdk-header-cell *cdkHeaderCellDef> State </th>
            <td cdk-cell *cdkCellDef="let conn">
              <span class="trust-level {{ conn.Verdict === verdict.Accept ? 'low' : 'high' }}"></span>
            </td>
          </ng-container>

          <!-- Reason Column -->
          <ng-container cdkColumnDef="reason">
            <th cdk-header-cell *cdkHeaderCellDef> Reason </th>
            <td cdk-cell *cdkCellDef="let conn"> {{conn.Reason}} </td>
          </ng-container>

          <!-- Entity Column -->
          <ng-container cdkColumnDef="entity">
            <th cdk-header-cell *cdkHeaderCellDef> Entity </th>
            <td cdk-cell *cdkCellDef="let conn">
              <span *ngIf="!!conn.Entity?.Country" [appCountryFlags]="conn.Entity!.Country"></span>
              {{ conn.Entity?.IP || 'DNS Request'}}
              <span *ngIf="conn.Entity?.Port" class="port">{{ ':'+conn.Entity.Port }}</span>
            </td>
          </ng-container>

          <!-- Started Column -->
          <ng-container cdkColumnDef="started">
            <th cdk-header-cell *cdkHeaderCellDef> Started </th>
            <td cdk-cell *cdkCellDef="let conn"> {{conn.Started * 1000 | date:'shortTime'}} </td>
          </ng-container>

          <!-- Ended Column -->
          <ng-container cdkColumnDef="ended">
            <th cdk-header-cell *cdkHeaderCellDef> Ended </th>
            <td cdk-cell *cdkCellDef="let conn">
              <ng-container *ngIf="conn.Ended > 0">{{conn.Ended * 1000 | date:'shortTime'}}</ng-container>
            </td>
          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </section>
  </app-accordion>
</app-accordion-group>

<!-- loading -->
<div class="accordion-header" *ngIf="!connections || connections?.loading">
  <fa-icon icon="chevron-down" class="chevron"></fa-icon>
  <span class="scope-name">
    <app-text-placeholder mode="input"></app-text-placeholder>
  </span>
  <app-count-indicator [count]="0"></app-count-indicator>
</div>

<div class="accordion-header"
  *ngIf="!connections || connections?.loading && ((connections?.scopeGroups | async)?.length || 0) < 2">
  <fa-icon icon="chevron-down" class="chevron"></fa-icon>
  <span class="scope-name">
    <app-text-placeholder mode="input" width="small"></app-text-placeholder>
  </span>
  <app-count-indicator [count]="0"></app-count-indicator>
</div>

<div class="accordion-header"
  *ngIf="!connections || connections?.loading && ((connections?.scopeGroups | async)?.length || 0) < 3">
  <fa-icon icon="chevron-down" class="chevron"></fa-icon>
  <span class="scope-name">
    <app-text-placeholder mode="input" width="large"></app-text-placeholder>
  </span>
  <app-count-indicator [count]="0"></app-count-indicator>
</div>
