.meta {
  display        : flex;
  justify-content: space-between;

  h4 {
    @apply mt-4;
  }

  &>div {
    flex-grow: 0.9;
    min-width: 30%;

    &>span {
      @apply my-1;
      display    : block;
      font-size  : 0.7rem;
      font-weight: 500;

      .subdomain {
        opacity: .58;
      }

      &>span:first-of-type {
        display     : inline-block;
        opacity     : 0.25;
        margin-right: 8px;
        user-select : none;
      }

      &>span:last-of-type {
        display: inline-block;
        color  : #cacaca;
      }
    }
  }
}


fa-icon.direction {
  color    : theme('colors.info.blue');
  transform: rotate(45deg);
  display  : inline-block;
  @apply mr-1;

  &.inbound {
    color: rgb(206, 0, 206); //theme('colors.info.red');
  }

  &.ended {
    color: theme('colors.info.gray');
  }
}


h3 {
  font-size    : 0.7rem;
  font-weight  : 500;
  margin-top   : 13px;
  margin-bottom: 9px;
  color        : #cacaca;
  user-select  : none;
  opacity      : 0.45;
}

svg.cog,
svg.copy {
  width          : 14px;
  padding        : 0;
  margin         : 0;
  display        : inline-flex;
  align-items    : center;
  justify-content: center;
  cursor         : pointer;
  transition     : all .15s ease-in-out;

  g {
    stroke: white;
  }

  &:not(:first-of-type) {
    @apply ml-1;
  }
}

svg.cog {
  opacity: 1;

  &:hover {
    opacity: .55;
  }
}

svg.copy {
  opacity: .55;

  &:hover {
    opacity: 1;
  }
}

.de-emphasize {
  font-size: 0.95em;
  @apply text-secondary;
  opacity: .6;
}

.de-emphasize~* {
  margin-left: 0.2rem;
}

.hidden {
  visibility: hidden;
}

.card-content {
  padding-top : 1rem;
  padding-left: 1.35rem;
}

.old-revision {
  color       : theme("colors.info.yellow");
  font-size   : 0.7rem;
  opacity     : .6;
  margin-right: .2rem;
  position    : relative;
  top         : 2px;

}

.meta .old-revision {
  top: 0px;
}

.card-header {
  @apply py-0;
  height       : 2rem;
  padding-right: 0;

  ::ng-deep svg.arrow {
    width     : 1rem;
    padding   : 0;
    margin    : 0;
    transform : rotate(90deg);
    transition: all ease-in-out .3s;

    .inner {
      stroke: white;
    }
  }

  &.active {
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;

    ::ng-deep svg.arrow {
      transform: rotate(-90deg);
    }
  }

  .card-title {
    padding-left: 1rem;

    .subdomain {
      opacity: .58;
    }
  }

  .card-title .subdomain {
    @apply text-secondary;
  }

  .spacer {
    margin-right: 1rem;
  }
}
