:host {
  display        : block;
  width          : 100%;
  display        : flex;
  min-height     : 3rem;
  justify-content: center;
  align-items    : center;

  @apply rounded;
  @apply bg-cards-primary;
  outline: none;
}
