.card-header {
  display    : flex;
  align-items: center;

  cursor         : pointer;
  outline        : none;
  justify-content: space-between;

  @apply text-xs;
  @apply font-medium;
  @apply p-2;
  @apply px-3;
  @apply mt-2;
  @apply bg-cards-primary;

  @apply rounded-t;

  &:not(.open) {
    @apply rounded;
  }

  &>*:not(:last-child) {
    @apply mr-1;
  }

  &>app-icon:not(:last-child) {
    @apply mr-2;
  }

  &.active,
  &:hover {
    @apply bg-cards-tertiary;
  }

  &>.card-icon,
  &>app-icon {
    @apply mr-2;
  }

  .card-title {
    flex-grow: 1;
    @apply text-primary;
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;

    .card-sub-title {
      display   : block;
      font-size : 0.8em;
      margin-top: -3px;
      @apply text-tertiary;
      text-overflow: ellipsis;
      overflow     : hidden;
    }
  }


  .card-actions {
    @apply mr-2;

    span {
      display   : inline-block;
      text-align: center;

      min-width: 5rem;
      @apply px-2;
      @apply rounded;
      @apply text-xs;

      padding: {
        top   : 0.1rem;
        bottom: 0.1rem;
      }

      // TODO(ppacher): this is actually a "toggle-switch" / radio-button
      // component. make it one.
      &.selected {
        @apply bg-buttons-dark;
      }

      &:hover {
        @apply bg-buttons-light;
      }
    }
  }
}

.card-content {
  @apply bg-cards-secondary;
  @apply rounded-b;

  @apply py-2;
  @apply px-4;
  @apply mb-2;

  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}
