.cdk-drag {
  .widget {
    fa-icon {
      opacity: 1;
    }
  }
}

.cdk-drag-placeholder {
  position  : relative;
  opacity   : 0.5;
  box-sizing: border-box;
  cursor    : grabbing !important;
  @apply border-2;
  @apply rounded;
  @apply border-dashed;
  @apply border-cards-primary;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  cursor    : grabbing !important;

  @apply rounded;
  @apply border-2;
  @apply border-dashed;
  @apply border-cards-primary;
  @apply text-primary;
}

.cdk-drag-handle {
  cursor: grab !important;
}


.document-grabbing {
  cursor: grabbing !important;
}
