
// Search bar and maybe somthing else?
input:not([type="checkbox"]),
textarea,
select {
  display: block;
  width  : 100%;
  outline: none;

  font-size  : 0.8rem;
  font-weight: 400;

  border: none;
  border-radius: 2.9px;
  padding      : 7px 20px 7px 20px;

  @apply bg-cards-primary;

  font-size  : 0.8rem;
  font-weight: 500;
  @apply text-primary;

  &:active,
  &:focus {
    @apply bg-cards-secondary;

    &::placeholder {
      opacity: 0.5;
    }

  }

  &::placeholder {
    font-size  : 0.8rem;
    font-weight: 500;
    @apply text-tertiary;
  }

}



.ng-invalid {

  input,
  textarea,
  select {
    @apply border-info-red;
    color: theme('colors.info.red');
  }
}
