:host {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  max-height    : 50vh;
  overflow      : auto;
}

app-notification,
div.placeholder {
  display: block;
  width  : 100%;
  margin : 0;
  border : none;
  @apply bg-cards-primary;
  @apply p-4;
  @apply rounded;

  &:not(:last-of-type) {
    @apply mb-2;
  }
}

div.placeholder {
  @apply font-medium;
  @apply text-tertiary;
  @apply p-2;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;

  fa-icon {
    @apply mr-2;
  }
}
