<ng-container *ngFor="let notif of notifications; trackBy: notifsService.trackBy; let index=index">
  <div class="row" (click)="toggelView(notif)" [style.--index]="index" [class.move-up]="notif === expandedNotification"
    [class.fade-out]="!!expandedNotification">
    <div class="type" [class.info]="notif.Type === types.Info" [class.warning]="notif.Type === types.Warning"
      [class.error]="notif.Type === types.Error">
    </div>
    <div class="preview">
      <span>
        {{notif.Title || notif.Message}}
      </span>
      <div class="buttons">
        <button *ngFor="let action of notif!.AvailableActions" (click)="execute(notif!, action, $event)">
          {{action.Text}}
        </button>
      </div>
    </div>
  </div>
</ng-container>

<div class="notification-body" [style.--count]="notifications.length" [@fadeIn] *ngIf="!!expandedNotification">
  <markdown class="message" emoji [data]="expandedNotification?.Message"></markdown>
</div>

<div class="placeholder" *ngIf="!notifications.length">
  No Notifications
</div>
