:host {
  display: block;
}

fa-icon[icon="chevron-right"] {
  font-size: 0.8em;
  @apply mx-1;
}

fa-icon[icon="spinner"] {
  @apply text-3xl;
  display   : block;
  width     : 100%;
  text-align: center;
  height    : 6rem;
}

fa-icon[icon="cog"] {
  @apply mx-2;
  @apply text-primary;
  cursor       : pointer;
  border-radius: 50%;
  @apply p-1;

  &:hover {
    @apply text-secondary;
  }
}

.card-content {
  &>div {
    flex-grow: 0.9;

    &>span,
    app-text-placeholder {
      @apply my-1;
      display: block;
      @apply font-medium;

      span:first-of-type {
        @apply font-normal;
        @apply text-tertiary;
        @apply mr-1;
      }

      span:last-of-type {
        @apply text-primary;
      }

    }
  }
}

app-connections-view {
  display: block;
  @apply pl-5;
}
