<app-profile-stats [total]="profile?.size || 0" [stats]="stats" [@fadeIn] *ngIf="!loading"></app-profile-stats>


<fa-icon icon="spinner" [spin]="true" *ngIf="loading"></fa-icon>

<h3>App</h3>

<div class="card-header open">
  <app-icon [profile]="profile?.profile"></app-icon>
  <span class="card-title">
    <app-text-placeholder mode="input" [loading]="!profile?.profile">
      {{profile?.profile?.Name}}
    </app-text-placeholder>
  </span>
  <fa-icon icon="cog" [routerLink]="['/', 'app', profile?.profile?.Source, profile?.profile?.ID]"></fa-icon>
  <app-count-indicator [count]="profile!.size"></app-count-indicator>
</div>

<div class="card-content">
  <div>
    <app-text-placeholder mode="input" [loading]="!profile?.profile" width="large">
      <span>Executable:</span>
      <span>{{profile?.profile?.LinkedPath || 'N/A'}}</span>
    </app-text-placeholder>
  </div>

  <div>
    <span *ngIf="(profile?.profile?.ApproxLastUsed || 0) > 0">
      <span>Last Used:</span>
      <span>{{profile!.profile!.ApproxLastUsed * 1000 | date:'medium'}}</span>
    </span>
  </div>
</div>

<app-connections-view [profile]="profile" [@fadeIn]>
</app-connections-view>