<div class="statistics" *ngIf="!loading" [@fadeIn]>
  <div class="metric">
    <label>Connections</label>
    <span class="value">{{profile?.size}}</span>
  </div>

  <div class="metric">
    <label>Countries</label>
    <ng-container *ngIf="stats.distinctCountries.size === 1; else: countryCounter">
      <span>
        <!-- we need an ngFor here since Sets() are not indexable -->
        <span class="value">{{stats.firstCountry}}</span>
      </span>
    </ng-container>
    <ng-template #countryCounter>
      <span class="value">{{ stats.distinctCountries.size }}</span>
    </ng-template>
  </div>

  <div class="metric">
    <label>Allowed</label>
    <span>
      <span class="value">{{ (100 / profile!.size) * stats.countAccepted  | number:'1.0-0' }}</span>%
    </span>
  </div>

  <div class="metric">
    <label>Blocked</label>
    <span>
      <span class="value">{{ (100 / profile!.size) * (profile!.size - stats.countAccepted)  | number:'1.0-0' }}</span>%
    </span>
  </div>


  <div class="metric">
    <label>Destinations</label>
    <span class="value">{{ stats.distinctIPs.size }}</span>
  </div>

  <div class="metric">
    <label>Encrypted</label>
    <span>
      <span class="value">{{(100 / profile!.size) * stats.countEncrypted  | number:'1.0-0'}}</span>%
    </span>
  </div>
</div>

<fa-icon icon="spinner" [spin]="true" *ngIf="loading"></fa-icon>

<div class="card-header open">
  <fa-icon class="card-icon" icon="futbol"></fa-icon>
  <span class="card-title">
    <app-text-placeholder mode="input" [loading]="!appProfile">
      {{appProfile?.Name}}
    </app-text-placeholder>
  </span>
  <app-count-indicator [count]="profile!.size"></app-count-indicator>
</div>

<div class="card-content">
  <div>
    <app-text-placeholder mode="input" [loading]="!appProfile" width="large">
      <span>Executable:</span>
      <span>{{appProfile?.LinkedPath || 'N/A'}}</span>
    </app-text-placeholder>
  </div>

  <div>
    <span *ngIf="(appProfile?.ApproxLastUsed || 0) > 0">
      <span>Last Used:</span>
      <span>{{appProfile!.ApproxLastUsed * 1000 | date:'medium'}}</span>
    </span>
  </div>
</div>

<app-connections-view [connections]="profile" [profile]="appProfile" [@fadeIn]>
</app-connections-view>
