:host {
  display        : flex;
  width          : 3rem;
  height         : 18px;
  align-items    : center;
  justify-content: flex-end;

  font-size  : 0.6rem;
  line-height: 18px;

  @apply pl-2;

  @apply bg-buttons-dark;
  border-radius: 0.5rem;

  .counter {
    flex-grow : 1;
    display   : inline-block;
    text-align: center;
  }

  div.state {
    width          : 18px;
    height         : 18px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    @apply bg-buttons-light;
    @apply rounded-full;

    .trust-level:before {
      top: 0px;
    }
  }
}

fa-icon {
  &.low {
    color: theme("colors.info.green");
  }

  &.medium {
    color: theme("colors.info.yellow");
  }

  &.high {
    color: theme("colors.info.red");
  }
}
