:host {
  display        : flex;
  width          : 3rem;
  height         : 18px;
  align-items    : center;
  justify-content: flex-end;

  font-size  : 0.6rem;
  line-height: 18px;

  @apply pl-2;

  @apply bg-buttons-dark;
  border-radius: 0.5rem;

  .counter {
    flex-grow : 1;
    display   : inline-block;
    text-align: center;
  }

  div.state {
    width          : 18px;
    height         : 18px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    @apply bg-buttons-light;
    @apply rounded-full;

    .trust-level:before {
      top: 0px;
    }
  }
}

app-loading {
  --loading-height: -3px;
  --dot-size      : 4px;
  width           : 15px;
  position        : relative;
  top             : -3px;
  left            : 3px;
}
