<div class="setting-meta">
  <label for="setting">{{setting?.Name}}</label>
  <span class="key">
    <fa-icon *ngIf="dirty && model?.valid" tabindex="0" (click)="saveValue()" icon="check"></fa-icon>
    <fa-icon *ngIf="dirty" tabindex="0" (click)="abortChange()" icon="times"></fa-icon>
    <fa-icon *ngIf="userConfigured && !dirty" tabindex="0" (click)="resetValue()" icon="trash"></fa-icon>

    <ng-container *ngIf="pristine">
      {{setting?.Key}}
    </ng-container>
  </span>
</div>

<span class="description">{{setting?.Description}}</span>

<ng-container [ngSwitch]="setting?.ExternalOptType">
  <app-security-setting *ngSwitchCase="optionHint.SecurityLevel" [setting]="_setting" [ngModel]="_currentValue"
    (ngModelChange)="updateValue($event)"></app-security-setting>

  <app-filter-list *ngSwitchCase="optionHint.EndpointList" [ngModel]="_currentValue"
    (ngModelChange)="updateValue($event)"></app-filter-list>

  <app-basic-setting *ngSwitchDefault [setting]="_setting" [ngModel]="_currentValue"
    (ngModelChange)="updateValue($event)"></app-basic-setting>
</ng-container>
