<div class="setting-meta">
    <label for="setting">{{setting?.Name}}</label>
    <span class="key">
        <fa-icon *ngIf="dirty && model?.valid"
            (click)="saveValue()" icon="check"></fa-icon>
        <fa-icon *ngIf="dirty"
            (click)="abortChange()" icon="times"></fa-icon>
        <fa-icon *ngIf="userConfigured && !dirty"
            (click)="resetValue()" icon="trash"></fa-icon>

        <ng-container *ngIf="pristine">
            {{setting?.Key}}
        </ng-container>
    </span>
</div>

<span class="description">{{setting?.Description}}</span>

<ng-container [ngSwitch]="setting?.OptType">
    <app-unknown-type *ngSwitchDefault
        [setting]="_setting"
        [ngModel]="_currentValue"
        (ngModelChange)="updateValue($event)"></app-unknown-type>
</ng-container>