:host {
  display : block;
  position: relative;
  @apply px-6;
  @apply pt-2;

  &.ng-invalid {
    @apply border-red-300;
    --border-opacity: 0.5;
  }
}

div.setting-meta {
  display        : flex;
  justify-content: space-between;
}

h3 {
  display: block;
  width  : 100%;

  .expertise {
    @apply ml-2;
    @apply text-gray-200;
    --text-opacity: 0.5;
    @apply text-xs;
    @apply font-medium;
  }

  .release-level {
    @apply mr-1;

    &.beta {
      @apply text-yellow-500;
    }

    &.experimental {
      @apply text-red-500;
    }
  }
}

div.secondary-actions {
  @apply mt-1;
  @apply mb-1;

  span {
    cursor    : pointer;
    visibility: hidden;
    @apply text-xs;
    @apply text-gray-300;

    &:hover {
      @apply text-gray-200;
    }

    &.visible {
      visibility: visible;
    }

    &:active,
    &:focus {
      outline: none;
      @apply text-yellow-300;
    }

    &:not(:first-of-type) {
      @apply ml-3;
    }
  }
}


span.description {
  display: block;
  @apply text-xs;
  @apply font-medium;
  @apply text-gray-100;
  --text-opacity: 0.5;
  @apply mt-2;
  @apply mb-4;
}
