:host {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    @apply bg-gray-100;
}

section {
    h1 {
        @apply border-b-2;
        @apply border-teal-600;
        @apply p-4;
        @apply my-8;
        @apply text-teal-600;
    }

    app-notification {
        @apply bg-white;
    }
}