<div class="side-nav">
  <img src="assets/portmaster.svg">

  <div class="nav-list">
    <div routerLinkActive="active" routerLink="dashboard" class="link">
      <fa-icon icon="desktop"></fa-icon>
    </div>

    <div routerLinkActive="active" routerLink="notifications" class="link">
      <fa-icon icon="comment"></fa-icon>
    </div>

    <div routerLinkActive="active" routerLink="cogs" class="link">
      <fa-icon icon="cogs"></fa-icon>
    </div>
  </div>

  <div routerLinkActive="active" routerLink="settings" class="link">
    <fa-icon icon="cog"></fa-icon>
  </div>
</div>

<div class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="showDebugPanel">
  <app-debug></app-debug>
</div>
