:host {
  display: flex;
  @apply bg-background;

  &>* {
    flex-shrink: 0;
  }
}

app-navigation,
app-side-dash {
  @apply border-r;
  @apply border-cards-tertiary;
  @apply bg-background;
}

app-side-dash {
  width: calc(4.5rem * 5);
}

div.main {
  flex-grow  : 1;
  flex-shrink: 1;

  display       : flex;
  flex-direction: column;
  align-items   : center;
  @apply bg-background;
  height  : 100vh;
  overflow: hidden;
}

app-debug {
  @apply border-l;
  @apply border-cards-tertiary;
  @apply bg-background;

  width    : 30vw;
  height   : 100vh;
  min-width: 350px;
  top      : 0px;
  position : sticky;
}
