<div *ngIf="spnStatus?.Status === 'connected'"
  class="absolute z-10 flex flex-col items-center justify-center gap-2 text-xs font-medium top-4 left-4 right-4">
  <div class="flex flex-col items-center justify-center gap-2">

    <div
      class="flex flex-row items-center justify-center w-full gap-2 px-4 bg-gray-300 rounded-sm bg-opacity-90 text-xxs"
      [@fadeIn] *ngIf="loading">
      <fa-icon icon="circle-notch" [spin]="true" class="py-3"></fa-icon>
      Loading data, please wait ...
    </div>

    <div class="flex flex-row gap-2" [@fadeIn] *ngIf="!loading">
      <div
        class="flex flex-col items-center px-3 py-2 bg-gray-300 rounded shadow cursor-pointer bg-opacity-90 w-36 hover:bg-gray-200 hover:bg-opacity-90"
        (click)="selectExitNodes($event)">
        <span class="-mb-1 text-tertiary">Exit Nodes</span>
        <span class="text-2xl text-primary">{{ countExitNodes }}</span>
      </div>
      <div
        class="flex flex-col items-center px-3 py-2 bg-gray-300 rounded shadow cursor-pointer bg-opacity-90 w-36 hover:bg-gray-200 hover:bg-opacity-90"
        (click)="selectTransitNodes($event)">
        <span class="-mb-1 text-tertiary">Transit Nodes</span>
        <span class="text-2xl text-primary">{{ countTransitNodes }}</span>
      </div>
      <div
        class="flex flex-col items-center px-3 py-2 bg-gray-300 rounded shadow cursor-pointer bg-opacity-90 w-36 hover:bg-gray-200 hover:bg-opacity-90"
        (click)="selectNodesWithAliveConnections($event)">
        <span class="-mb-1 text-tertiary">Active Connections</span>
        <span class="text-2xl text-primary">{{ countRoutedAliveConnections }}</span>
      </div>
    </div>
  </div>
</div>

<div class="absolute top-0 bottom-0 left-0 flex flex-row items-start justify-start w-full h-full"
  [class.w-full]="currentUser === null || !spnStatus || spnStatus.Status === 'disabled'">

  <div
    class="z-10 flex flex-col items-center justify-center flex-grow h-full bg-white bg-opacity-90 backdrop-filter backdrop-blur-sm"
    *ngIf="!currentUser || spnStatus?.Status === 'disabled'">

    <spn-feature-carousel class="w-full p-10 mb-6 overflow-visible h-1/2">
    </spn-feature-carousel>

    <div class="flex flex-col items-center justify-center gap-4">
      <button (click)="openAccountDetails()" *ngIf="!currentUser || currentUser.state === ''"
        class="w-56 px-5 py-2 font-medium uppercase rounded-full bg-blue bg-opacity-90 hover:bg-blue text-primary">
        Login
      </button>

      <button (click)="toggleSPN()" *ngIf="currentUser?.current_plan?.feature_ids?.includes('spn')"
        class="w-56 px-5 py-2 font-medium text-white uppercase rounded-full bg-blue bg-opacity-90 hover:bg-blue">
        Enable the SPN
      </button>

      <a href="https://safing.io/pricing/?source=Portmaster"
        class="w-56 px-5 py-2 font-medium text-center text-white uppercase rounded-full bg-background bg-opacity-90 hover:bg-background">
        Pricing
      </a>
    </div>
  </div>

  <!-- selected node pane -->
  <div *ngIf="!!selectedPins" class="z-10 flex flex-col justify-start flex-grow flex-shrink-0 w-64 p-2 pt-4 space-y-3">

    <div *ngFor="let pin of selectedPins!; trackBy: trackPin" class="relative ml-1 bg-gray-200 rounded shadow">

      <fa-icon class="absolute top-0 right-0 mt-2 mr-3 text-xs cursor-pointer text-tertiary hover:text-secondary"
        icon="times" (click)="clearSelection(pin.ID)"></fa-icon>

      <fa-icon
        class="absolute top-0 right-0 mt-2 mr-8 text-xs transition-all duration-200 ease-in-out cursor-pointer text-tertiary hover:text-secondary"
        icon="chevron-down" (click)="pin.collapsed = !pin.collapsed" [class.rotate-180]="!pin.collapsed">
      </fa-icon>

      <span class="text-tertiary block pt-2.5 px-2.5 pb-1 text-xxs">
        Selected Node
      </span>

      <div class="bg-gray-400 p-2.5 flex flex-row items-center justify-between"
        *ngIf="(pin.EntityV4 || pin.EntityV6) as entity">
        <div>
          <span [appCountryFlags]="entity.Country" class="mr-2"></span>
          {{ entity.IP }}
        </div>
        <ng-template #tooltipTemplate>
          <table class="!text-xxs">
            <tr>
              <td class="px-2 bg-gray-200">ID</td>
              <td>{{ pin.ID }}</td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">Name</td>
              <td>{{ pin.Name }}</td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">Verified Owner</td>
              <td>
                <pre>{{ pin.VerifiedOwner }}</pre>
              </td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">First Seen</td>
              <td>{{ pin.FirstSeen | date }}</td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">Entity V4</td>
              <td>
                {{ pin.EntityV4?.IP }}
                {{ pin.EntityV4?.Country }}
                {{ pin.EntityV4?.ASN}}
                {{ pin.EntityV4?.ASOrg}}
              </td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">Entity V6</td>
              <td>
                {{ pin.EntityV6?.IP }}
                {{ pin.EntityV6?.Country }}
                {{ pin.EntityV6?.ASN}}
                {{ pin.EntityV6?.ASOrg}}
              </td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">States</td>
              <td>
                <pre>{{ pin.States.join(", ") }}</pre>
              </td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">SessionActive</td>
              <td>
                <pre>{{ pin.SessionActive }}</pre>
              </td>
            </tr>
            <tr>
              <td class="px-2 bg-gray-200">HopDistance</td>
              <td>
                <pre>{{ pin.HopDistance }}</pre>
              </td>
            </tr>
          </table>
        </ng-template>
        <svg viewBox="0 0 24 24" class="w-3.5 h-3.5 text-secondary" [sfng-tooltip]="tooltipTemplate"
          *appExpertiseLevel="'developer'">
          <g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor">
            <path stroke="#ffff" shape-rendering="geometricPrecision"
              d="M12 21v0c-4.971 0-9-4.029-9-9v0c0-4.971 4.029-9 9-9v0c4.971 0 9 4.029 9 9v0c0 4.971-4.029 9-9 9z" />
            <path stroke="#ffff" shape-rendering="geometricPrecision"
              d="M12 17v-5h-1M11.749 8c-.138 0-.25.112-.249.25 0 .138.112.25.25.25s.25-.112.25-.25-.112-.25-.251-.25" />
          </g>
        </svg>
      </div>

      <div class="flex flex-row items-center gap-2 text-xs border-b border-gray-300">
        <div class="p-2 px-3 text-xs font-light bg-gray-300 text-tertiary">
          HOPS: <span [class.text-primary]="pin.route.length > 0">{{ pin.route.length || 'N/A' }}</span>
        </div>
        <div class="flex-grow text-xs font-light uppercase text-tertiary">
          Name: <span class="text-primary">{{ pin.Name }}</span>
        </div>
      </div>

      <ng-container *ngIf="pin.route.length > 0; else: notInUse">
        <div class="mx-2 my-3 tunnel-path" *ngIf="!pin.collapsed">
          <div class="line"></div>
          <ul>
            <li>
              <span class="hop-icon">
                <fa-icon far icon="dot-circle"></fa-icon>
              </span>
              <span class="hop-title text-secondary text-xxs">
                Your Device
              </span>
            </li>


            <li *ngFor="let node of pin.route; trackBy: trackPin">
              <span *ngIf="node.preferredEntity.Country as country; else: noCountry" class="country"
                [appCountryFlags]="country"></span>
              <ng-template #noCountry>
                <!-- TODO: use hop icon instead if unknown -->
                <span class="country unknown"></span>
              </ng-template>
              <span>{{ node.preferredEntity?.Country || 'No Location' }}</span>
              <span class="ip text-secondary">{{ node.preferredEntity?.IP || '' }}</span>
              <span class="ip text-secondary text-xxs" *appExpertiseLevel="'developer'">{{ node.Name }}</span>
              <span *appExpertiseLevel="'expert'" class="text-xxs text-tertiary"><br />AS{{ node.preferredEntity.ASN }}
                -
                {{
      node.preferredEntity.ASOrg ||
      'Unknown AS'
      }}
              </span>
            </li>

            <li *ngIf="pin.isExit" class="leading-4">
              <span class="hop-icon">
                <fa-icon far icon="dot-circle"></fa-icon>
                <!-- TODO: use destination country flag instead if known -->
              </span>
              <span class="hop-title text-secondary">
                Destinations
              </span>
              <span *appExpertiseLevel="'developer'" class="block text-xxs text-tertiary">
                {{ pin.countAliveConnections }}
                active connections
              </span>
              <!-- TODO: add destination details? (Would be duplicate information from above.) -->
            </li>
            <ng-template #asnTemplate let-data>
            </ng-template>
          </ul>
        </div>
      </ng-container>
      <ng-template #notInUse>
        <div class="px-2 py-2 text-center text-xxs text-tertiary" *ngIf="!pin.collapsed">
          {{
pin.HopDistance === 1
? 'Currently used as your HOME hub.'
: 'Currently not used by any connections.'
}}</div>
      </ng-template>
    </div>
  </div>
</div>


<div class="absolute top-0 right-0 z-10 mt-4 mr-4">
  <app-expertise></app-expertise>
</div>
<div class="relative flex-grow h-full">
  <div #map id="map" class="w-full h-full" [class.disabled]="!currentUser || spnStatus?.Status === 'disabled'"></div>
</div>
