:host {
  display: inline-block;
  width: fit-content;

  &.disabled {
    button {
      cursor: not-allowed;
      @apply opacity-75;

      &:hover {
        @apply bg-gray-400;
      }
    }
  }
}

button {
  @apply cursor-pointer relative p-0 flex whitespace-nowrap w-full items-center outline-none self-center;
  @apply bg-gray-300;
  @apply border border-gray-300;
  text-transform: none;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1) .2s;
  min-width: 6rem;

  &:hover {
    @apply bg-gray-400;
  }

  &.active {
    @apply bg-gray-400;

    .arrow .arrow-icon {
      transform: rotate(-90deg);
    }
  }

  span {
    flex-grow: 1;
    text-align: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .arrow {
    padding-top: 0.415rem;
    padding-bottom: 0.425rem;
    padding-left: 0.3rem;
    padding-right: 0.1rem;
    @apply bg-gray-200;
    @apply rounded-r-sm;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .arrow-icon {
      width: 1.1rem;
      float: right;
      padding: 0;
      margin: 0;
      transform: rotateZ(90deg);
      transition: all ease-in-out .1s;

      .inner {
        stroke: white;
      }

    }
  }
}

ul {
  width: 100%;
  display: block;
}
