:host {
  position     : relative;
  display      : flex;
  outline      : none;
  justify-items: flex-start;
}

label {
  @apply p-2;
  @apply px-3;
  @apply bg-buttons-light;
  @apply text-primary;
  @apply mr-1;
  display: inline-block;
}

app-dropdown-item {
  position: relative;
}
