<div class="line">
  <div class=""></div>
  <ng-container *ngFor="let lvl of availableLevels.slice(0, -1)">
    <div class="connector" [class.active]="isActive(lvl.level)"></div>
    <div class="connector" [class.active]="isActive(lvl.level)"></div>
  </ng-container>
  <div class=""></div>
</div>
<div class="line">
  <div *ngFor="let lvl of availableLevels" [attr.name]="lvl.name" [class.focused]="activeItem === lvl.name"
    [class.active]="isActive(lvl.level)" (click)="setLevel(lvl.level)">
    <div class="circle"></div>
    <span>{{lvl.name}}</span>
  </div>
</div>
