<app-multi-switch *ngIf="!onOffMode; else: onOffToggle" [ngModel]="getLevel()" (ngModelChange)="setLevel($event)"
  [disabled]="disabled" tipUpKey="networkRatingSwitch">
  <app-switch-item *ngFor="let lvl of availableLevels" [borderColorActive]="lvl.activeBorder" [id]="lvl.level"
    [group]="lvl.activeBorder" [selected]="isActive(lvl.level)">{{lvl.name}}</app-switch-item>
</app-multi-switch>

<ng-template #onOffToggle>
  <sfng-toggle [ngModel]="getLevel() === SecurityLevels.Normal" (ngModelChange)="setLevel($event)">
  </sfng-toggle>
</ng-template>
