:host {
    @apply p-2;
    @apply py-4;
    @apply pb-10;
    position: relative;
    display: block;
    outline: none;
}

div.line {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: space-between;

    & > * {

        flex-grow: 1;
        text-align: center;
        flex-basis: 100%;
        transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

div.circle {
    position: relative;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    @apply bg-gray-400;
    cursor: pointer;

    &:hover {
        @apply bg-gray-500;
    }
}

div[name="Off"] div.circle {
    @apply bg-white;
    @apply border-2;
    @apply border-green-600;
}

div.active {
    div.circle {
        @apply bg-green-400;
        @apply border-2;
        @apply border-green-600;

        &:hover {
            @apply bg-green-600;
        }
    }

    span {
        @apply text-green-700;
    }

    &[name="Off"]{
            div.circle {
            @apply bg-white;
            @apply border-2;
            @apply border-red-500;

            &:hover {
                @apply border-red-700;
            }
        }
        span {
            @apply text-red-700;
        }
    }
}

div.focused {
    div.circle {
        @apply border-yellow-600;
    }

    span {
        @apply text-yellow-600;
    }
}

div.connector {
    position: relative;
    top: 0.5rem;
    display: inline-block;
    border-top: 0.2rem solid;
    @apply border-gray-400;

    &.active {
        @apply border-green-600;
    }
}


span {
    display: inline-block;
    @apply text-xs;
    @apply font-semibold;
    @apply text-gray-600;
    text-align: center;
}
