<ng-container *ngIf="!!conn">
  <svg viewBox="0 0 24 24" class="arrow">
    <g fill="none" class="inner">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.2" d="M10 16l4-4-4-4" />
    </g>
  </svg>
  <div class="scope">
    <span class="verdict centered" [class.outdated]="isOutdated" [ngClass]="helper.getVerdictClass(conn)"></span>

    <ng-container *ngIf=" conn.Entity?.Domain as domain; then scopeLabel; else scopeTranslation">
    </ng-container>
    <ng-template #scopeLabel let-domain>
      <app-scope-label leftRightFix="true" [scope]="domain">
      </app-scope-label>
    </ng-template>
    <ng-template #scopeTranslation>
      <span> {{ helper.scopeTranslation[conn.Scope] }} </span>
    </ng-template>

  </div>
  <span class="country" [class.de-emphasize]="!conn.Entity.Country">
    {{ conn | connectionLocation }}
  </span>
  <div class="peer">
    <fa-icon class="direction" [class.ended]="!!conn.Ended" [icon]="conn.Inbound ? 'arrow-down' : 'arrow-up'"
      [class.inbound]="conn.Inbound">
    </fa-icon>

    <span *ngIf="conn.Entity?.IP as ip; else dnsRequest">
      {{ ip }} <span class="de-emphasize" *ngIf="conn!.Entity!.Port">:{{ conn!.Entity!.Port }}</span>
    </span>
    <ng-template #dnsRequest>
      <span class="de-emphasize">
        DNS Request
      </span>
    </ng-template>
  </div>
  <span class="time">
    <ng-container *ngIf="!!conn.Ended">
      <span class="de-emphasize">ended&nbsp;&nbsp;</span>
      {{ conn.Ended | timeAgo:timeAgoTicker }}
    </ng-container>

    <ng-container *ngIf="!conn.Ended">
      <span class="de-emphasize">started&nbsp;&nbsp;</span>
      {{ conn.Started | timeAgo:timeAgoTicker }}
    </ng-container>
  </span>
  <div class="reason">
    <ng-container *ngIf="conn.Reason.OptionKey as option">
      <span class="de-emphasize applied">applied</span>
      <span class="setting">{{ helper.settings[option] || '' }}&nbsp;</span>
      <span class="de-emphasize from">from</span>
      <span class="de-emphasize reason-source">&nbsp;{{
        !!conn.Reason.Profile ? "App" :
        "Global" }} Settings</span>
      <!--<span class="de-emphasize">{{conn.Reason.Msg}}</span>-->
    </ng-container>
  </div>

  <div>
    <app-menu-trigger [menu]="ungroupedConnectionMenu"></app-menu-trigger>
    <app-menu #ungroupedConnectionMenu>
      <app-menu-item (onActivate)="helper.redirectToSetting(conn.Reason.OptionKey)" *ngIf="!!conn.Reason.OptionKey">
        App Setting
      </app-menu-item>

      <app-menu-item (onActivate)="helper.redirectToSetting(conn.Reason.OptionKey, true)"
        *ngIf="!!conn.Reason.OptionKey">
        Global Setting
      </app-menu-item>

      <app-menu-group class="separator"></app-menu-group>

      <app-menu-item *ngIf="(conn | isBlocked); else blockAction"
        (onActivate)="helper.unblockAll(conn.Entity.Domain || conn.Entity.IP)" [disabled]="!(conn | canUseRules)">
        Allow {{ conn.Entity.Domain ? 'Domain' : 'IP'}}
      </app-menu-item>

      <ng-template #blockAction>
        <app-menu-item (onActivate)="helper.blockAll(conn.Entity.Domain || conn.Entity.IP)"
          [disabled]="!(conn | canUseRules)">
          Block {{ conn.Entity.Domain ? 'Domain' : 'IP '}}
        </app-menu-item>
      </ng-template>


      <app-menu-item *appExpertiseLevel="'expert'" (click)="helper.dumpConnection(conn)">Copy JSON</app-menu-item>
    </app-menu>
  </div>
</ng-container>
