:host {
  flex-grow      : 1;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  align-self     : stretch;
  font-size      : 0.7rem;
}

.connection-details {}

.scope {
  display    : inline-block;
  display    : inline-flex;
  align-self : stretch;
  align-items: center;

  span,
  app-scope-label {
    text-overflow: ellipsis;
    overflow     : hidden;
    direction    : rtl;
  }

  @apply px-3;
  @apply mx-3;
  @apply bg-cards-tertiary;

  .trust-level {
    @apply mr-1;
  }
}

.peer {
  display: flex;

  span {
    text-overflow: ellipsis;
    overflow     : hidden;
  }
}

.country,
.time {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.reason {
  label {
    @apply text-secondary;
    opacity: .57;
  }

  .port {
    margin-right: 6px;
    margin-left : 6px;
  }
}

.country~* {
  margin-left: 0.2rem;
}

// table size
.arrow,
.scope,
.country,
.peer,
.time,
.reason {

  &,
  * {
    white-space  : nowrap;
    text-overflow: ellipsis;
  }

  overflow    : hidden;
  flex-shrink : 0;
}

.arrow {
  width: 1rem;
}

.scope {
  width: 150px;
}

.time {
  width  : 120px;
  display: none;

  .de-emphasize {
    display: none;
  }
}

.country {
  width  : 50px;
  display: none;
}

.peer {
  width: 130px;
}

.reason {
  flex-grow      : 1;
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;

  .applied {
    display: none;
  }

  .setting {
    text-overflow: ellipsis;
    overflow     : hidden;
    display      : inline-block;
    max-width    : 120px;
  }

  .reason-source {
    display   : none;
    text-align: left;
    width     : 80px;
  }
}

@media (min-width: 1400px) {
  .time {
    display: inline-block;
  }
}

@media (min-width: 1520px) {
  .time {
    .de-emphasize {
      display: inline-block;
    }
  }

  .reason {
    .reason-source {
      display: inline-block;
    }
  }
}

@media (min-width: 1560px) {
  .reason {
    .applied {
      display: inline-block;
    }
  }
}

@media (min-width: 1620px) {
  .country {
    display: flex;
  }
}

@media (min-width: 1700px) {
  .peer {
    width: 180px;
  }

  .scope {
    width: 200px;
  }

  .reason .setting {
    max-width: 100px;
  }
}

@media (min-width: 1760px) {
  .reason .setting {
    max-width: 140px;
  }
}

@media (min-width: 1820px) {
  .reason .setting {
    max-width: 200px;
  }
}

@media (min-width: 1900px) {
  .peer {
    width: 220px;
  }

  .scope {
    width: 250px;
  }

  .reason .setting {
    max-width: 180px;
  }
}

@media (min-width: 2000px) {
  .reason .setting {
    max-width: 300px;
  }
}
