:host {
  flex-grow  : 1;
  display    : flex;
  white-space: nowrap;

  &>* {
    flex-grow  : 0;
    flex-shrink: 0;
  }

  justify-content: space-between;
  align-items    : center;
  align-self     : stretch;
  font-size      : 0.7rem;
}

.connection-details {}

.separator {
  border-top: 1px solid white;
  opacity   : .2;
  padding   : 0;
}

.scope {
  display    : inline-flex;
  align-self : stretch;
  align-items: center;

  span,
  app-scope-label {
    text-overflow: ellipsis;
    overflow     : hidden;
    direction    : rtl;
    white-space  : nowrap;
  }

  @apply px-3;
  @apply mx-3;
  @apply bg-cards-tertiary;

  .trust-level {
    @apply mr-1;
  }
}

.peer {
  display: flex;

  span {
    text-overflow: ellipsis;
    overflow     : hidden;
  }
}

.country,
.time {
  overflow       : hidden;
  display        : flex;
  align-items    : center;
  justify-content: center;
  white-space    : nowrap;
  text-overflow  : ellipsis;
}

.reason {
  text-align   : right;
  overflow     : hidden;
  white-space  : nowrap;
  text-overflow: ellipsis;

  label {
    @apply text-secondary;
    opacity: .57;
  }

  .port {
    margin-right: 6px;
    margin-left : 6px;
  }
}

.country~* {
  margin-left: 0.2rem;
}

// Flexlayouting
.scope {
  max-width: 260px;
  flex-grow: 1;
  width    : 100px;
}

.country {
  display  : none;
  max-width: 70px;
  min-width: 40px;
}

.peer {
  max-width: 260px;
  width    : 100px;
  flex-grow: 1;
}

.time {
  display  : none;
  width    : 50px;
  min-width: 100px;
  max-width: 120px;

  .de-emphasize {
    display: none;
  }
}

.reason {
  flex-grow  : 1;
  flex-shrink: 1;
  display    : none;

  .applied,
  .from,
  .reason-source {
    display: none;
  }
}

@media screen and (min-width: 1280px) {

  .scope,
  .peer {
    flex-grow: 0;

    width: 200px;
  }

  .reason {
    display: block;
  }
}

@media screen and (min-width: 1360px) {
  .time {
    display: flex;
  }
}

@media screen and (min-width: 1477px) {
  .country {
    display: flex;
  }
}


@media screen and (min-width: 1500px) {
  .time .de-emphasize {
    display: inline;
  }
}

@media screen and (min-width: 1600px) {
  .reason {
    .reason-source {
      display: inline;
    }
  }
}


@media screen and (min-width: 1800px) {
  .reason {

    .from,
    .applied {
      display: inline;
    }
  }
}
