h1 {
  @apply text-xl;
  @apply font-semibold;
  @apply text-gray-400;
  @apply p-4;
}

.subsys {
  position: relative;

  div.list {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;

    div.subsys {
      flex-grow: 1;
      @apply mx-2;
      position: relative;
    }

    span.marker {
      position  : absolute;
      text-align: center;
      display   : block;
      width     : 100%;
      opacity   : 0;
      transform : translateX(10%);
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
      @apply text-gray-400;
      @apply font-bold;

      span {
        display      : inline-block;
        transition   : all cubic-bezier(0.175, 0.885, 0.32, 1.575) .3s;
        width        : 0;
        height       : 0;
        border-left  : 0.7rem solid transparent;
        border-right : 0.7rem solid transparent;
        border-bottom: 1rem solid #718096;
        transform    : rotateZ(330deg);
      }

      &.active {
        transform: translateX(0);
        opacity  : 1;

        span {
          transform: rotateZ(360deg);
        }
      }
    }
  }

  div.subsystem-details {
    position: absolute;
    width   : calc(100% + 2rem);
    left    : -1rem;
    @apply p-4;
    @apply mt-4;
    @apply shadow-md;
    @apply border;
    @apply border-gray-500;
    @apply bg-gray-500;
    @apply text-gray-100;
    @apply rounded;
    min-height: 100px;
    opacity   : 0;
    visibility: hidden;
    transform : translateX(5%);
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s .2s;

    &.active {
      visibility: visible;
      opacity   : 1;
      transform : translateX(0);

    }
  }
}

.status-section {
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;

  @apply p-8;
  @apply mt-4;
  @apply shadow-inner;
  @apply bg-gray-800;
  --bg-opacity: 0.5;
  @apply rounded;

  div.online-status {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    font-size      : 2.5rem;

    label {
      font-size: 2rem;
    }

    &.online {

      label,
      fa-icon[icon="globe-americas"] {
        @apply text-green-400;
      }

      fa-icon[icon="lock"] {
        @apply text-green-700;
      }
    }

    &.semionline {

      label,
      fa-icon[icon="globe-americas"] {
        @apply text-teal-400;
      }

      fa-icon[icon="lock"] {
        @apply text-teal-700;
      }
    }

    &.portal {

      label,
      fa-icon[icon="globe-americas"] {
        @apply text-blue-400;
      }

      fa-icon[icon="lock"] {
        @apply text-blue-700;
      }
    }

    &.limited {

      label,
      fa-icon[icon="globe-americas"] {
        @apply text-yellow-400;
      }

      fa-icon[icon="lock"] {
        @apply text-yellow-700;
      }
    }

    &.offline {

      label,
      fa-icon[icon="globe-americas"] {
        @apply text-red-400;
      }

      fa-icon[icon="lock"] {
        @apply text-red-700;
      }
    }
  }
}

app-notification {
  @apply bg-gray-100;
  --bg-opacity: 0.1;
  @apply text-gray-100;
}
