:host {
  @apply py-2;
  overflow      : hidden;
  max-height    : 50vh;
  display       : flex;
  flex-direction: column;

  @apply bg-background;

  &:not(.empty) {
    @apply bg-cards-primary
  }
}

app-icon {
  --app-icon-size: 20px;
}

.scrollable {
  width     : 100%;
  overflow-x: hidden;
  @apply p-0;
}

.group {
  width: 100%;
  @apply mb-3;

  .group-header {
    @apply mb-2;
    @apply px-2;
    text-transform: capitalize;
    display       : flex;
    align-items   : center;

    .app-name {
      flex-grow: 1;
    }

    span.prompt-count {
      @apply bg-buttons-dark;
      display        : flex;
      justify-content: center;
      align-items    : center;
      border-radius  : 50%;
      width          : 20px;
      height         : 20px;
      font-size      : 0.8em;
      @apply mr-1;
    }
  }
}

app-menu-item.item-seperator {
  @apply border-t;
  @apply border-buttons-dark
}

.no-prompts {
  @apply text-tertiary;
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

.prompts {
  display: flex;

  .border {
    margin-left: calc(0.5rem + 9px); // --app-icon-size / 2
    width      : 0.5rem;

    @apply border-l-2;
    @apply border-b-2;

    @apply border-buttons-light;
  }

  .prompt-container {
    flex-grow: 1;
    @apply p-2;
    display       : flex;
    flex-direction: column;

    .prompt {
      @apply py-2;
      @apply px-3;
      @apply mb-2;
      @apply bg-cards-tertiary;
      @apply rounded;

      display    : flex;
      align-items: center;

      .entity {
        flex-grow  : 1;
        word-break : break-all;
        white-space: normal;

        .country-flag {
          @apply mr-1;
        }

        .subdomain {
          @apply text-secondary;
        }
      }

      .actions {
        min-width: 5rem;
        display  : flex;
        flex-wrap: wrap;

        button {
          outline: none;
          @apply bg-transparent;

          &:last-of-type {
            @apply bg-buttons-dark;
          }

          &:hover {
            @apply bg-buttons-light;
          }
        }
      }
    }
  }

  .more-available {
    @apply text-secondary;
    position  : relative;
    top       : 1rem;
    margin-top: -1rem;
    cursor    : pointer;

    &:hover {
      @apply text-primary;
    }
  }
}
