:host {
  overflow      : hidden;
  max-height    : 50vh;
  display       : flex;
  flex-direction: column;

  @apply py-2;
  @apply bg-background;

  &:not(.empty) {
    background-color: var(--cards-secondary);
  }
}

app-icon {
  --app-icon-size: 13px;
}

.scrollable {
  @apply p-0;
}

.group {
  @apply mb-3;

  .group-header {
    @apply mb-2;
    @apply px-2;
    display    : flex;
    align-items: center;
    margin-left: 4px;

    .app-name {
      flex-grow: 1;
      font-size: 0.7rem;
      font-weight: 400;
      opacity: 0.8;
    }

    span.prompt-count {
      @apply mr-1;
    }
  }
}

app-menu-item.item-seperator {
  @apply border-t;
  @apply border-buttons-dark
}

.no-prompts {
  @apply text-tertiary;
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

.prompts {
  display: flex;

  .border {
    margin-left: calc(0.5rem + 9px);
    width      : 0.5rem;
    border-left-width: 2px;
    border-bottom-width: 2px;
    @apply border-cards-primary;
  }

  .prompt-container,
  .prompt,
  .actions {
    display: flex;
  }

  .prompt-container {
    flex-grow     : 1;
    flex-direction: column;
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 1rem;

    .prompt {
      @apply px-3;
      margin-bottom: 4px;
      background-color: var(--cards-primary);
      height: 2.25rem;

      align-items: center;

      .entity {
        flex-grow  : 1;
        word-break : break-all;
        white-space: normal;
        
        font-size: 0.7rem;
        font-weight: 500;

        padding-left: 8px;

        .country-flag {
          @apply mr-1;
        }

        .subdomain {
          font-size     : 0.7rem;
          font-weight: 500;
          @apply text-secondary;
        }
      }

      .actions {
        min-width: 5rem;
        flex-wrap: wrap;
        height: 100%;

        button {
          outline: none;
          @apply bg-transparent;

          font-size: 0.6rem;
          background-color: #292929;
          
          padding-left: 1.25rem;
          padding-right: 1.25rem;
          text-transform: capitalize;
          border-radius: 0;
          font-weight: 500;
          outline: none;
          color: hsla(0, 0%, 100%, 0.548);

          &:hover{
            background-color:  #363636;
            color: #ffffff;
          }

          &:last-of-type {
            background: transparent;
            color: hsla(0, 0%, 100%, 0.562);
            @apply ml-1;
            transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;

            &:hover{
              color: #ffffff;
            }
          }

        }
      }


    }
  }

  .more-available {
    @apply text-secondary;
    position  : relative;
    top       : 1.4rem;
    margin-top: -1rem;
    cursor    : pointer;

    &:hover {
      @apply text-primary;
    }
  }
}
