<h1 *ngIf="isEdit">Edit Widget</h1>
<h1 *ngIf="!isEdit">New Widget</h1>

<div class="select-type">
  <span>Select widget type</span>
  <app-dropdown [ngModel]="selectedWidget?.type" (ngModelChange)="changeWidget($event)">
    <ng-container *ngFor="let def of definitions">
      <app-dropdown-item *dropDownValue="def.type">
        {{def.name}}
      </app-dropdown-item>
    </ng-container>
  </app-dropdown>
</div>

<fieldset *ngIf="!!portal" class="widget-setup">
  <h1>Settings</h1>
  <div [cdkPortalOutlet]="portal" (attached)="portalAttached($event)"></div>
</fieldset>


<div class="buttons">
  <button type="button" [disabled]="!portal && !config" (click)="saveWidget()">Save</button>
  <button type="button" *ngIf="isEdit" class="bg-red-600" (click)="deleteWidget()">Delete</button>
</div>
