<div class="header">
  <h1 *ngIf="isEdit">Edit {{ selectedWidget?.name }} Widget</h1>
  <h1 *ngIf="!isEdit">New Widget</h1>

  <app-expertise></app-expertise>
</div>

<div class="content">

  <div class="select-type" *ngIf="!isEdit">
    <span>Select widget type</span>
    <sfng-select [ngModel]="selectedWidget?.type" (ngModelChange)="changeWidget($event)">
      <ng-container *ngFor="let def of definitions">
        <sfng-select-item *sfngSelectValue="def.type">
          {{def.name}}
        </sfng-select-item>
      </ng-container>
    </sfng-select>
  </div>

  <div *ngIf="!!portal" class="widget-setup">
    <div class="border"></div>

    <h4>Widget Settings</h4>
    <div [cdkPortalOutlet]="portal" (attached)="portalAttached($event)"></div>
  </div>


  <div class="buttons">
    <span>
      <button type="button" [disabled]="!config || !dirty" (click)="saveWidget()">Save</button>
      <button type="button" (click)="cancel()">Cancel</button>
    </span>
    <button type="button" *ngIf="isEdit" class="bg-info-red" (click)="deleteWidget()">Delete Widget</button>
  </div>
</div>
