:host {
  display       : flex;
  flex-direction: column;
}

h1 {
  @apply mb-4;
  @apply text-base;
}

.buttons {
  display        : flex;
  justify-content: space-between;
  @apply p-4;

  button:not(:last-of-type) {
    @apply mr-4;
  }
}

.widget-setup {
  @apply text-sm;

  @apply pb-4;
  padding-left : 1rem;
  margin-top   : 1rem;
  margin-bottom: 1rem;
  position     : relative;

  h4 {
    @apply mb-4;
  }

  div.border {
    position    : absolute;
    top         : 0.5rem;
    bottom      : -0.5rem;
    width       : 0.7rem;
    margin-left : -1rem;
    border      : 1px solid;
    border-right: none;
    @apply border-gray-300;
  }
}

div.select-type {
  @apply text-sm;
  @apply mb-4;

  span {
    @apply p-4;
  }

  app-dropdown {
    width  : 7.5rem;
    display: inline-block;
  }
}
